@if ((!hasLargeSize() && !hideBackButton()) || title()) {
  <div class="title-subgroup">
    @if (!hasLargeSize() && !hideBackButton()) {
      <button
        #backButton
        type="button"
        class="si-details-header-back nav-link focus-inside px-6"
        (click)="backClicked()"
      >
        <si-icon class="pe-2 d-inline-block position-relative icon" [icon]="icons.elementBack" />
        {{ backButtonText() | translate }}
      </button>
    }
    @if (title()) {
      <span class="si-details-header-title si-body px-6">{{ title() | translate }}</span>
    }
  </div>
}
<ng-content />
