@let popover = popoverDirective();
<div
  #popoverWrapper
  class="popover position-relative focus-inside"
  role="dialog"
  [attr.aria-labelledby]="labelledBy"
  [attr.aria-describedby]="describedBy"
  [ngClass]="[positionClass(), popover.containerClass()]"
  (keydown.escape)="hide()"
>
  <div
    class="popover-arrow"
    [style.left.px]="arrowPos()?.left"
    [style.right.px]="arrowPos()?.right"
  ></div>
  @if (popover.title()) {
    <div class="popover-header">
      @let iconValue = popover.icon();
      @if (iconValue) {
        <si-icon class="icon me-1" [icon]="iconValue" />
      }
      <span class="si-title-2" [id]="labelledBy">{{ popover.title() }}</span>
    </div>
  }
  @if (!popoverTemplate) {
    <div class="popover-body">
      <div class="si-body-2" [id]="describedBy" [innerHTML]="popover.siPopover()"></div>
    </div>
  } @else {
    <!-- If title is already provided, we wrap the template with the `popover-body` class
    since the template may not be in the popover body directive. Also used by SiHelpButtonComponent -->
    @if (popover.title()) {
      <div class="popover-body">
        <ng-template
          [ngTemplateOutlet]="popoverTemplate"
          [ngTemplateOutletContext]="popover.context()"
          [ngTemplateOutletInjector]="injector"
        />
      </div>
    } @else {
      <ng-template
        [ngTemplateOutlet]="popoverTemplate"
        [ngTemplateOutletContext]="popover.context()"
        [ngTemplateOutletInjector]="injector"
      />
    }
  }
</div>
