// proposal Dani B.
.density-compact {
  --element-spacer-inline-1: 0px;
  --element-spacer-inline-2: 4px;
  --element-spacer-inline-3: 4px;
  --element-spacer-inline-4: 8px;
  --element-spacer-inline-5: 8px;
  --element-spacer-inline-6: 12px;
  --element-spacer-inline-7: 16px;
  --element-spacer-inline-8: 20px;
  --element-spacer-inline-9: 24px;
  --element-spacer-inline-10: 32px;
  --element-spacer-inline-11: 36px;
  --element-spacer-inline-12: 44px;
  --element-spacer-inline-13: 48px;
  --element-spacer-inline-14: 72px;

  --element-spacer-block-1: 0px;
  --element-spacer-block-2: 4px;
  --element-spacer-block-3: 4px;
  --element-spacer-block-4: 8px;
  --element-spacer-block-5: 8px;
  --element-spacer-block-6: 12px;
  --element-spacer-block-7: 16px;
  --element-spacer-block-8: 20px;
  --element-spacer-block-9: 24px;
  --element-spacer-block-10: 32px;
  --element-spacer-block-11: 36px;
  --element-spacer-block-12: 44px;
  --element-spacer-block-13: 48px;
  --element-spacer-block-14: 72px;
}

// proposal Dani R.
.density-compact-2 {
  --element-spacer-inline-1: 2px;
  --element-spacer-inline-2: 4px;
  --element-spacer-inline-3: 4px;
  --element-spacer-inline-4: 6px;
  --element-spacer-inline-5: 8px;
  --element-spacer-inline-6: 12px;
  --element-spacer-inline-7: 16px;
  --element-spacer-inline-8: 20px;
  --element-spacer-inline-9: 24px;
  --element-spacer-inline-10: 32px;
  --element-spacer-inline-11: 36px;
  --element-spacer-inline-12: 44px;
  --element-spacer-inline-13: 48px;
  --element-spacer-inline-14: 72px;

  --element-spacer-block-1: 2px;
  --element-spacer-block-2: 4px;
  --element-spacer-block-3: 4px;
  --element-spacer-block-4: 6px;
  --element-spacer-block-5: 8px;
  --element-spacer-block-6: 12px;
  --element-spacer-block-7: 16px;
  --element-spacer-block-8: 20px;
  --element-spacer-block-9: 24px;
  --element-spacer-block-10: 32px;
  --element-spacer-block-11: 36px;
  --element-spacer-block-12: 44px;
  --element-spacer-block-13: 48px;
  --element-spacer-block-14: 72px;
}
