@let announcement = this.announcement();
@let availableLanguages = this.availableLanguages();
@let loginAlert = this.loginAlert();
@let implicitLegalAcknowledge = this.implicitLegalAcknowledge();
@let liveDataWarning = this.liveDataWarning();
@let isFullHeightSection = this.isFullHeightSection();

@if (announcement) {
  <si-inline-notification
    class="rounded-0"
    [severity]="announcement.severity"
    [heading]="announcement.heading"
    [message]="announcement.message"
    [action]="announcement.action"
    [translationParams]="announcement.translationParams"
  />
}
<div class="landing-page">
  <div
    class="landing-page-background d-none d-md-block"
    [style.background-image]="'url(' + backgroundImageUrl() + ')'"
  >
  </div>
  <div class="landing-page-content">
    <div class="landing-page-content-inner">
      @if (!isFullHeightSection) {
        <div class="d-flex justify-content-between align-items-center pb-9">
          @if (!logoUrl()) {
            <span role="img" class="landing-page-logo"></span>
          } @else {
            <img
              class="landing-page-logo landing-page-custom-logo"
              [src]="logoUrl()"
              [alt]="heading() + '\'s Background'"
            />
          }
          @if (availableLanguages.length > 1) {
            <div class="landing-page-language-switcher">
              <si-language-switcher
                [translationKey]="translationKey()"
                [availableLanguages]="availableLanguages"
              />
            </div>
          }
        </div>
      }
      <div class="landing-page-main">
        @if (!isFullHeightSection) {
          @if (subheading()) {
            <div class="si-h2">{{ subheading() | translate }}</div>
          }
          <h1 class="si-h1-bold my-2">{{ heading() | translate }}</h1>
          <div class="position-relative">
            <h2 class="mt-10 si-h2" [class.invisible]="loginAlert">{{ subtitle() | translate }}</h2>
            @if (loginAlert) {
              <si-inline-notification
                class="landing-page-alert w-100"
                [severity]="loginAlert.severity || 'danger'"
                [heading]="loginAlert.heading"
                [message]="loginAlert.message"
                [action]="loginAlert.action"
                [translationParams]="loginAlert.translationParams"
              />
            }
          </div>
        }
        <div class="landing-page-custom-content">
          <ng-content />
          @if (!isFullHeightSection) {
            @if (implicitLegalAcknowledge) {
              @if (typeof implicitLegalAcknowledge === 'string') {
                <div class="text-secondary mt-8" [innerHTML]="implicitLegalAcknowledge"></div>
              } @else {
                <div class="text-secondary mt-8">
                  <ng-container [ngTemplateOutlet]="implicitLegalAcknowledge" />
                </div>
              }
            }
            @if (liveDataWarning) {
              <div class="text-secondary mt-8">
                <div class="si-h5">{{ liveDataWarning.title | translate }}</div>
                <div class="si-body my-4">{{ liveDataWarning.content | translate }}</div>
              </div>
            }
          }
        </div>
      </div>
      @if (!isFullHeightSection) {
        <footer>
          <div>
            <div class="d-flex justify-content-start flex-row flex-wrap mt-6">
              @for (link of links(); track $index) {
                <span>
                  <a siLinkDefaultTarget="_blank" class="si-body me-6" [siLink]="link">
                    {{ link.title | translate }}
                  </a>
                </span>
              }
            </div>
            <div class="si-caption mt-4 mb-6 text-secondary d-flex flex-wrap">
              @if (version()) {
                <span class="me-6">{{ version() }}</span>
              }
              <si-copyright-notice [copyright]="copyrightDetails()" />
            </div>
          </div>
        </footer>
      }
    </div>
  </div>
</div>
