:host {
  display: inline-flex;
  font-weight: normal;
  vertical-align: middle;
  line-height: 1;
}

.svg-element-icon {
  background-color: currentColor;
  mask-image: var(--svg-element-icon);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  block-size: 1em;
  inline-size: 1em;
}
