
@if (kioskMode()) {
  <si-dashboard heading="Sample Dashboard">
    <app-dashboard-filters menubar filters-slot />
    <ng-container dashboard>
      @if (widgets().length === 0) {
        <si-loading-spinner />
      } @else {
        <app-carousel [columns]="columns()" [rows]="rows()" [intervalMs]="3000">
          @for (widget of widgets(); track widget.id) {
              <si-dashboard-card appCarouselItem [heading]="widget.heading ?? widget.widgetId" [imgSrc]="widget.image?.src" [imgAlt]="widget.image?.alt" [imgObjectFit]="widget.image?.objectFit" [imgObjectPosition]="widget.image?.objectPosition" [imgDir]="widget.image?.dir">
                <app-widget-renderer #renderer body class="card-body overflow-auto" [widgetConfig]="widget" [widgetDescriptor]="widgetCatalogMap().get(widget.widgetId)" />
                @if (renderer.footer()) {
                  <div class="card-footer" footer>
                    <ng-container *ngTemplateOutlet="renderer.footer()!" />
                  </div>
                }
              </si-dashboard-card>
          }
        </app-carousel>
      }
    </ng-container>
  </si-dashboard>
}
@else {
<si-flexible-dashboard
  #dashboard
  heading="Sample Dashboard"
  [widgetCatalog]="widgetCatalog"
  [showEditButtonLabel]="true"
  (isModified)="appStateService.editable$.next($event)"
>
  <app-dashboard-filters menubar filters-slot />
  <si-empty-state
    empty-state
    icon="element-dashboard"
    heading="Use the widget catalog to design your dashboard."
    content="No widgets have been added yet. Start right now and explore the world of widgets."
  >
    @if (!dashboard.editable()) {
      <button type="button" class="btn btn-primary" (click)="dashboard.showWidgetCatalog()">
        Add widget
      </button>
    }
  </si-empty-state>
</si-flexible-dashboard>
}