@use '../../styles/variables';
@use '../../styles/components/links';

$font-size-small: 11px;

:host {
  display: inline-flex;
  flex-direction: column;

  &.is-mobile {
    margin-block-end: 28px;
  }

  &:not(.is-mobile) {
    flex: 1;
  }
}

.header-links {
  block-size: 32px;
  padding-block: 9px;
  color: variables.$live-preview-control-fill-color;
  font-size: $font-size-small;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  :host:not(.is-mobile) & {
    padding-inline: 10px;
  }

  .ticket-links,
  .example-text {
    line-height: 14px;
  }

  .ticket-links {
    margin-inline-start: auto;
  }

  .example-text {
    color: variables.$live-preview-control-fill-color;
    display: inline;
    font-size: $font-size-small;
    font-weight: variables.$live-preview-font-weight-semibold;
    margin-block: 0;
    margin-inline: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 0;
    inline-size: 0;
  }
}
