<section class="header-links">
  <h1 class="example-text">Example: {{ state.example() }}</h1>
  @if (!isMobile || !isFullscreen()) {
    <div class="ticket-links">
      <a target="_blank" [href]="ticketLinkBug()">Report a bug</a> |
      <a target="_blank" [href]="ticketLinkFeature()">Request a feature</a>
    </div>
  }
</section>

@if (isMobile) {
  <si-live-preview-mobile-mode (iframeChange)="setPreviewIframe($event)" />
} @else {
  <si-live-preview-iframe-mode (iframeChange)="setPreviewIframe($event)" />
}
