<section class="header-links">
  <h1 class="example-text">Example: {{ exampleUrl() }}</h1>
  @if (!isMobile || !isFullscreen()) {
    <div class="ticket-links">
      <a target="_blank" [href]="ticketLinkBug()">Report a bug</a> |
      <a target="_blank" [href]="ticketLinkFeature()">Request a feature</a>
    </div>
  }
</section>

@if (isMobile) {
  <si-live-preview-mobile-mode
    [exampleUrl]="exampleUrl()"
    [template]="template()"
    [theme]="theme()"
    [locale]="locale()"
    [rootFontSize]="rootFontSize()"
    [isRTL]="isRTL()"
    [templateModified]="templateModified()"
    [supportsLandscape]="supportsLandscape()"
    [iFrameHeight]="iFrameHeight()"
    [iFrameWidth]="iFrameWidth()"
    (iframeChange)="setPreviewIframe($event)"
    (viewportChange)="setViewport($event)"
    (themeToggle)="toggleTheme()"
  />
} @else {
  <si-live-preview-iframe-mode (iframeChange)="setPreviewIframe($event)" />
}
