@use '@siemens/element-theme/src/styles/variables';

.modal-backdrop {
  z-index: variables.$zindex-application-header-backdrop;
  opacity: 0;
}

.launchpad-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: variables.$zindex-launchpad;
}
