@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
}

.select-file {
  margin-block-end: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  color: variables.$si-sys-text-accent;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.drag-and-drop {
  background-color: variables.$si-sys-background-1;
  border: 1px dashed variables.$si-sys-border-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.drag-over {
    border: 1px solid variables.$si-sys-effects-focus;
    box-shadow: 0 0 0 1px variables.$si-sys-effects-focus;
  }
}
