@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;

  ::ng-deep {
    .link {
      cursor: pointer;
    }
  }
}

.drag-and-drop {
  background-color: variables.$element-base-1;
  border: 1px dashed variables.$element-ui-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.drag-over {
    border: 1px solid variables.$element-focus-default;
    box-shadow: 0 0 0 1px variables.$element-focus-default;
  }
}
