@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

.si-map-tooltip {
  text-align: start;
  margin-block-start: map.get(variables.$spacers-block, 2);
  position: relative;
  max-inline-size: max-content;
  padding-block: map.get(variables.$spacers-block, 2);
  padding-inline: map.get(variables.$spacers-inline, 4);
  color: variables.$si-sys-text-inverse;
  background-color: variables.$si-sys-background-inverse;
  border-radius: variables.$element-radius-1;

  &::before {
    content: '';
    position: absolute;
    inset-block-start: map.get(variables.$negative-spacers-block, 2);
    left: 50%; // stylelint-disable-line property-layout-mappings
    transform: translate(-50%, 0%) rotate(45deg);
    block-size: map.get(variables.$spacers-block, 4);
    inline-size: map.get(variables.$spacers-inline, 4);
    background-color: inherit;
  }
}
