<div class="d-flex align-items-center mb-6">
  @let file = filename();
  @if (file) {
    <span class="filename border rounded-1 px-1 me-4">
      <si-icon class="icon-sm" [icon]="icons.elementDocument" />
      {{ file }}
    </span>
  }
  <span class="code-language" [class.text-secondary]="file">
    {{ languageToDisplay() }}
  </span>
  <div class="ms-auto">
    @if (copied()) {
      <div class="btn text-secondary btn-sm copied">
        <si-icon class="icon" [icon]="icons.elementOk" />
        {{ labelCopied | translate }}
      </div>
    } @else {
      <button
        type="button"
        class="btn btn-tertiary btn-icon btn-sm"
        [aria-label]="labelCopy | translate"
        (click)="copy()"
      >
        <si-icon class="icon" [icon]="icons.elementCopy" />
      </button>
    }
  </div>
</div>

@let hl = highlighter();
@if (hl) {
  <ng-container
    [ngComponentOutlet]="hl.component"
    [ngComponentOutletInputs]="{
      code: code(),
      language: language(),
      options: hl.options,
      updateLanguage
    }"
  />
} @else {
  <pre class="border-0 m-0 p-0"><code>{{ code() }}</code></pre>
}
