site_name: Siemens Element Documentation

site_author: 'Siemens'
site_url: 'https://element.siemens.io/'
site_dir: 'dist/design'

repo_name: 'siemens/element'
repo_url: 'https://github.com/siemens/element'
edit_uri: 'blob/main/docs/'

copyright: '&copy; Siemens 2016-2025'

strict: true

nav:
  - Home:
    - Overview:                           'README.md'
    - Get started:                        'get-started/quickstart.md'
    - Build with AI:                      'get-started/element-mcp.md'
  - Fundamentals:
    - Typography:                         'fundamentals/typography.md'
    - Colors:
      - Color palette:                    'fundamentals/colors/color-palette.md'
      - UI colors:                        'fundamentals/colors/ui-colors.md'
      - Data visualization colors:        'fundamentals/colors/data-visualization-colors.md'
    - Shapes:                             'fundamentals/shapes.md'
    - Illustrations:                      'fundamentals/illustrations.md'
    - Layouts:
      - Overview:                         'fundamentals/layouts/overview.md'
      - Breakpoints:                      'fundamentals/layouts/breakpoints.md'
      - Flexbox grid:                     'fundamentals/layouts/grid.md'
      - Gutters:                          'fundamentals/layouts/gutters.md'
      - Spacing:                          'fundamentals/layouts/spacing.md'
      - Anatomy:                          'fundamentals/layouts/anatomy.md'
      - Header:                           'fundamentals/layouts/header.md'
      - Content:                          'fundamentals/layouts/content.md'
    - Elevation:                          'fundamentals/elevation.md'
    - Icons:                              'fundamentals/icons.md'
    - Localization:                       'fundamentals/localization.md'
    - Styles:
      - Display:                           'fundamentals/styles/display.md'
      - Flex:                              'fundamentals/styles/flex.md'
      - Sizing:                            'fundamentals/styles/sizing.md'
    - UX Writing:
      - Overview:                           'fundamentals/ux-text-style-guide/index.md'
      - Basics:                             'fundamentals/ux-text-style-guide/basics.md'
      - Grammar and vocabulary:             'fundamentals/ux-text-style-guide/grammar-and-vocabulary.md'
      - Punctuation:                        'fundamentals/ux-text-style-guide/punctuation.md'
      - Proper nouns:                       'fundamentals/ux-text-style-guide/proper-nouns.md'
      - Main menu functions:                'fundamentals/ux-text-style-guide/main-menu-functions.md'
      - Frequent app functions:             'fundamentals/ux-text-style-guide/frequent-app-functions.md'
      - Inappropriate terms:                'fundamentals/ux-text-style-guide/inappropriate-terms.md'
      - Best practices:                     'fundamentals/ux-text-style-guide/best-practices.md'
      - Errors, warnings and notifications: 'fundamentals/ux-text-style-guide/error-messages.md'
      - Dialogs and buttons:                'fundamentals/ux-text-style-guide/dialogs-and-buttons.md'
  - Components:
    - Overview:                           'components/index.md'
    - Buttons & menus:
      - Buttons:                          'components/buttons-menus/buttons.md'
      - Button Group:                     'components/buttons-menus/button-group.md'
      - Content Action Bar:               'components/buttons-menus/content-actions.md'
      - Dropdowns:                        'components/buttons-menus/dropdowns.md'
      - Help Button:                      'components/buttons-menus/help-button.md'
      - Links:                            'components/buttons-menus/links.md'
      - Menu:                             'components/buttons-menus/menu.md'
    - Dashboards:
      - Overview:                         'components/dashboards/index.md'
      - Dashboard:                        'components/dashboards/dashboard.md'
      - Flexible Dashboards:              'components/dashboards/flexible-dashboards.md'
      - Link Widget:                      'components/dashboards/link-widget.md'
      - List Widget:                      'components/dashboards/list-widget.md'
      - Timeline Widget:                  'components/dashboards/timeline-widget.md'
      - Value Widget:                     'components/dashboards/value-widget.md'
    - Forms & Inputs:
      - Checkbox:                         'components/forms-inputs/checkbox.md'
      - Color Picker:                     'components/forms-inputs/color-picker.md'
      - Date & Time:                      'components/forms-inputs/datepicker.md'
      - Date Range Filter:                'components/forms-inputs/date-range-filter.md'
      - File Uploader:                    'components/forms-inputs/file-uploader.md'
      - Forms:                            'components/forms-inputs/forms.md'
      - Input:                            'components/forms-inputs/input.md'
      - IP Input:                         'components/forms-inputs/ip-input.md'
      - Language switcher:                'components/forms-inputs/language-switcher.md'
      - Number Input:                     'components/forms-inputs/number-input.md'
      - Phone Number Input:               'components/forms-inputs/phone-number-input.md'
      - Pills Input:                      'components/forms-inputs/pills-input.md'
      - Photo Uploader:                   'components/forms-inputs/photo-upload.md'
      - Radio:                            'components/forms-inputs/radio.md'
      - Select:                           'components/forms-inputs/select.md'
      - Slider:                           'components/forms-inputs/slider.md'
      - Switch:                           'components/forms-inputs/switch.md'
      - Text Area:                        'components/forms-inputs/text-area.md'
      - Threshold:                        'components/forms-inputs/threshold.md'
    - Layout & navigation:
      - Accordion:                        'components/layout-navigation/accordion.md'
      - Application header:               'components/layout-navigation/application-header.md'
      - Breadcrumb:                       'components/layout-navigation/breadcrumb.md'
      - Card:                             'components/layout-navigation/cards.md'
      - Electron Titlebar:                'components/layout-navigation/electron-titlebar.md'
      - Footer:                           'components/layout-navigation/footer.md'
      - Launchpad:                        'components/layout-navigation/launchpad.md'
      - List-Details:                     'components/layout-navigation/list-details.md'
      - Modals:                           'components/layout-navigation/modals.md'
      - Pagination:                       'components/layout-navigation/pagination.md'
      - Side Panel:                       'components/layout-navigation/side-panel.md'
      - Split:                            'components/layout-navigation/split.md'
      - Tabs:                             'components/layout-navigation/tabs.md'
      - Tour:                             'components/layout-navigation/tour.md'
      - Vertical Navigation:              'components/layout-navigation/vertical-navigation.md'
      - Wizard:                           'components/layout-navigation/wizard.md'
    - Lists, Tables & Trees:
      - List Group:                       'components/lists-tables-trees/list-group.md'
      - Table & Datatable:                'components/lists-tables-trees/datatable.md'
      - Tree View:                        'components/lists-tables-trees/tree-view.md'
    - Progress Indications:
      - Progress Bar:                     'components/progress-indication/progress-bar.md'
      - Result Details List:              'components/progress-indication/result-details-list.md'
      - Skeleton:                         'components/progress-indication/skeleton.md'
      - Spinner:                          'components/progress-indication/spinner.md'
    - Search, Filter & Sort:
      - Overview:                         'components/sorting-filtering/index.md'
      - Search Bar:                       'components/sorting-filtering/search-bar.md'
      - Sort Bar:                         'components/sorting-filtering/sort-bar.md'
      - Typeahead:                        'components/sorting-filtering/typeahead.md'
      - Filter Bar:                       'components/sorting-filtering/filter-bar.md'
      - Filter Pills:                     'components/sorting-filtering/filter-pills.md'
      - Filtered Search:                  'components/sorting-filtering/filtered-search.md'
    - Status & notifications:
      - Avatar:                           'components/status-notifications/avatar.md'
      - Badges:                           'components/status-notifications/badges.md'
      - Circle Status:                    'components/status-notifications/circle-status.md'
      - Connection Strength:              'components/status-notifications/connection-strength.md'
      - Copyright Notice:                 'components/status-notifications/copyright-notice.md'
      - Empty State:                      'components/status-notifications/empty-state.md'
      - Icon:                             'components/status-notifications/icon.md'
      - Inline Notification:              'components/status-notifications/inline-notification.md'
      - Notification Item:                'components/status-notifications/notification-item.md'
      - Popover:                          'components/status-notifications/popover.md'
      - Status Bar:                       'components/status-notifications/status-bar.md'
      - Status Toggle:                    'components/status-notifications/status-toggle.md'
      - Status Counter:                   'components/status-notifications/status-counter.md'
      - Summary Chip:                     'components/status-notifications/summary-chip.md'
      - Summary Widget:                   'components/status-notifications/summary-widget.md'
      - System banner:                    'components/status-notifications/system-banner.md'
      - Toast Notification:               'components/status-notifications/toast-notification.md'
      - Tooltip:                          'components/status-notifications/tooltip.md'
    - Chat & Messages:
      - Chat Input:                       'components/chat-messages/chat-input.md'
      - Chat Message:                     'components/chat-messages/chat-message.md'
    - Charts:
      - Overview:                         'components/charts/index.md'
      - Bar Chart:                        'components/charts/bar-chart.md'
      - Circle Chart:                     'components/charts/circle-chart.md'
      - Gauge Chart:                      'components/charts/gauge-chart.md'
      - Line Chart:                       'components/charts/line-chart.md'
      - Progress Chart:                   'components/charts/progress-chart.md'
      - Scatter Chart:                    'components/charts/scatter-chart.md'
      - Generic Chart:                    'components/charts/generic-chart.md'
      - Micro Charts:                     'components/charts/micro-charts.md'
    - Maps:                               'components/maps/maps.md'
    - Pages:
      - About:                            'components/pages/about.md'
      - Info Page:                        'components/pages/info-page.md'
      - Landing Page:                     'components/pages/landing-page.md'
  - Patterns:
    - Overview:                           'patterns/index.md'
    - Backdrop:                           'patterns/backdrop.md'
    - Drag & Drop:                        'patterns/drag-and-drop.md'
    - Loading:                            'patterns/loading.md'
    - Notifications:                      'patterns/notifications.md'
    - Filter:                             'patterns/filter.md'
    - Help:                               'patterns/help.md'
    - AI:
      - Overview:                         'patterns/ai/overview.md'
      - AI chat:                          'patterns/ai/ai-chat.md'
  - Architecture:
    - CSS framework:                      'architecture/css-framework.md'
    - Dynamic forms:                      'architecture/dynamic-forms.md'
    - Motion and animation:               'architecture/motion-animation.md'
    - Theming:                            'architecture/theming.md'
    - UI state:                           'architecture/ui-state.md'
  - Contributing:
    - Guidelines:                         'CONTRIBUTING.md'
    - Code of Conduct:                    'CODE_OF_CONDUCT.md'
    - Developer guide:                    'DEVELOPER.md'
  - Changelog:                            'CHANGELOG.md'

theme:
  name: code-siemens-code-docs-theme
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: dark
      toggle:
        icon: siemens/element/element-economy
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: light
      toggle:
        icon: siemens/element/element-sun
        name: Switch to system theme
    - media: "(prefers-color-scheme)"
      toggle:
        icon: siemens/element/element-theme-auto
        name: Switch to dark mode
  favicon: '_src/favicon.png'
  features:
    - navigation.tabs
    - page.toc
    - content.action.edit
    - content.code.copy

extra_css:
  - '_src/dos-and-donts.css'

extra_javascript:
  - '_src/confetti.browser.min.js'
  - '//w3.siemens.com/ote/ote_config.js'
  - '//w3.siemens.com/ote/sinet/ote.js'
  - 'https://assets.adobedtm.com/5dfc7d97c6fb/f16b45bec907/launch-af252bb19983.min.js'
extra:
  links:
    - name: 'GitHub'
      value: 'https://github.com/siemens/element'
    - name: 'Siemens Xcelerator Developer Portal'
      value: 'https://developer.siemens.com/'
  page_license_text: Except where otherwise noted, content on this site is licensed under <a href="https://github.com/siemens/element/blob/main/LICENSE.md">MIT License</a>.

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
      guess_lang: true
  - pymdownx.emoji:
      emoji_index: !!python/name:mkdocs_siemens.icons.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.tasklist
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - md_in_html
  - element-docs:
      examples_base: !ENV [ EXAMPLES_BASE, 'http://localhost:4200' ]
      md_file: !relative
  - toc:
      permalink: true

plugins:
  - material/search
  - minify_html
  - element-docs-builder
