<div
  class="chip"
  [attr.role]="interactive() ? 'checkbox' : null"
  [attr.tabindex]="interactive() && !disabled() ? '0' : null"
  [attr.aria-disabled]="interactive() ? disabled() : null"
  [attr.aria-checked]="interactive() ? selected() : null"
  [class.selected]="selected()"
  [class.disabled]="disabled()"
  (click)="toggleSelected()"
  (keydown.enter)="toggleSelected()"
  (keydown.space)="$event.preventDefault(); toggleSelected()"
>
  @let actualIcon = statusIcon();
  @if (actualIcon.icon) {
    <span class="icon icon-stack my-n2 ms-n2">
      <si-icon [class]="actualIcon.color" [icon]="actualIcon.icon" />
      @if (actualIcon.stacked) {
        <si-icon [class]="actualIcon.stackedColor" [icon]="actualIcon.stacked" />
      }
    </span>
  }
  @let value = this.value();
  <div class="si-body" [class.visually-hidden]="hideLabel() && value && actualIcon.icon">
    {{ label() | translate }}
  </div>
  @if (value) {
    <div class="si-h5">{{ value | translate }}</div>
  }
</div>
