<div
  class="chip"
  role="checkbox"
  [attr.tabindex]="disabled() ? '' : '0'"
  [attr.aria-disabled]="disabled()"
  [attr.aria-checked]="selected()"
  [class.selected]="selected()"
  [class.disabled]="disabled()"
  (click)="toggleSelected()"
  (keydown.enter)="toggleSelected()"
>
  @let actualIcon = statusIcon();
  @if (actualIcon.icon) {
    <span class="icon icon-stack my-n2 ms-n2">
      <si-icon [ngClass]="actualIcon.color" [icon]="actualIcon.icon" />
      @if (actualIcon.stacked) {
        <si-icon [ngClass]="actualIcon.stackedColor" [icon]="actualIcon.stacked" />
      }
    </span>
  }
  @let value = this.value();
  <div class="si-body" [class.visually-hidden]="hideLabel() && value && actualIcon.icon">
    {{ label() | translate }}
  </div>
  @if (value) {
    <div class="si-h5">{{ value | translate }}</div>
  }
</div>
