@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-inline-size: calc(1lh + 2 * map.get(variables.$spacers-inline, 4));
  border: 1px solid variables.$si-sys-border-3;
  border-radius: 1lh;
  padding-block: calc(map.get(variables.$spacers-block, 4) - 1px);
  padding-inline: map.get(variables.$spacers-inline, 4);
  gap: map.get(variables.$spacers-block, 2) map.get(variables.$spacers-inline, 2);

  &:not(.disabled) {
    cursor: pointer;

    &:not(.selected):hover {
      background: variables.$si-sys-background-hover;
    }
  }
}

.selected {
  background: variables.$si-sys-background-active;
}

.disabled {
  opacity: variables.$element-action-disabled-opacity;
}
