@let changePasswordAlert = this.changePasswordAlert();
@let passwordPolicyContent = this.passwordPolicyContent();

<div class="d-flex flex-column justify-content-center py-8 h-100">
  <div class="position-relative">
    <h2 class="si-h2" [class.invisible]="changePasswordAlert">{{ heading() | translate }}</h2>
    <div class="si-body mb-4" [class.invisible]="changePasswordAlert">{{
      subheading() | translate
    }}</div>
    @if (changePasswordAlert) {
      <si-inline-notification
        class="position-absolute bottom-0 w-100"
        [severity]="changePasswordAlert.severity || 'danger'"
        [heading]="changePasswordAlert.heading"
        [message]="changePasswordAlert.message"
      />
    }
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
    <div class="my-4">
      <label class="form-label" [for]="newPasswordId">{{ newPasswordLabel() | translate }}</label>
      <si-password-strength>
        <input
          type="password"
          class="form-control"
          formControlName="newPassword"
          [id]="newPasswordId"
          [siPasswordStrength]="passwordStrength()"
          (passwordStrengthChanged)="handlePasswordStrengthChanged($event)"
        />
      </si-password-strength>
    </div>
    <div class="mb-4">
      <label class="form-label" [for]="confirmPasswordId">{{
        confirmPasswordLabel() | translate
      }}</label>
      <si-password-toggle #toggleConfirmPassword>
        <input
          class="form-control"
          formControlName="confirmPassword"
          [id]="confirmPasswordId"
          [type]="toggleConfirmPassword.inputType"
        />
      </si-password-toggle>
    </div>
    <div class="d-flex align-items-center gap-6 mt-6">
      <button type="button" class="btn btn-secondary w-100 back-button" (click)="handleBackClick()">
        {{ backButtonLabel() | translate }}
      </button>
      <button type="submit" class="btn btn-primary w-100" [disabled]="disableChange()">
        {{ changeButtonLabel() | translate }}
      </button>
    </div>
  </form>
  <div class="text-secondary mt-8">
    <div class="si-h5">{{ passwordPolicyTitle() | translate }}</div>
    @if (!passwordPolicyContentTemplate) {
      <div class="my-4" [innerHTML]="passwordPolicyContent"></div>
    } @else {
      <div class="my-4">
        <ng-container [ngTemplateOutlet]="passwordPolicyContentTemplate" />
      </div>
    }
  </div>
</div>
