<app-filter-settings [(variant)]="variant" [(disabled)]="disable" [(showIcon)]="showIcon">
  <ng-template #newItemTemplate let-match="match" siTypeaheadTemplate>
    <span class="text-information me-2">sweet home</span>
    @for (segment of match.result; track $index) {
      <span [class.typeahead-match-segment-matching]="segment.isMatching">{{ segment.text }}</span>
    }
  </ng-template>

  @if (!selectedOption) {
    <p class="mt-14">Home sweet home</p>
  } @else {
    <p class="mt-14">Sweet home {{ selectedOption }}</p>
  }
  <si-search-bar
    placeholder="Placeholder"
    [colorVariant]="variant"
    [disabled]="disable"
    [showIcon]="showIcon"
    [(ngModel)]="selected"
  >
    <input
      siSearchBarInput
      aria-label="States"
      typeaheadMatchAllTokens="once"
      typeaheadFullWidth
      [siTypeahead]="states"
      [typeaheadItemTemplate]="newItemTemplate"
      (typeaheadOnSelect)="onOptionSelected($event)"
    />
  </si-search-bar>
</app-filter-settings>
