<div
  #scrollContainer
  class="search-container d-flex align-items-center overflow-auto py-2 w-100 ps-2 pe-2"
>
  @for (criterion of values(); track criterion) {
    <si-filtered-search-value
      [editOnCreation]="autoEditCriteria"
      [definition]="criterion.config"
      [value]="criterion.value"
      [invalidCriterion]="!validateCriterionLabel(criterion.config)"
      [disabled]="disabled()"
      [clearButtonLabel]="clearButtonLabel()"
      [disableSelectionByColonAndSemicolon]="disableSelectionByColonAndSemicolon()"
      [isStrictOrOnlySelectValue]="isStrictOrOnlySelectValue()"
      [itemCountText]="itemCountText()"
      [lazyValueProvider]="lazyValueProvider()"
      [maxCriteriaOptions]="maxCriteriaOptions()"
      [optionsInScrollableView]="optionsInScrollableView()"
      [searchLabel]="searchLabel()"
      [onlySelectValue]="onlySelectValue()"
      [searchDebounceTime]="searchDebounceTime()"
      (submitCriterion)="focusNext($index, $event)"
      (deleteCriterion)="deleteCriterion($index, $event)"
      (valueChange)="valueChange($event, criterion)"
    />
  }
  <!-- criterion input -->
  <si-filtered-search-input
    [dataSource]="dataSource"
    [typeaheadOptionsLimit]="typeaheadOptionsLimit()"
    [optionsInScrollableView]="optionsInScrollableView()"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [searchLabel]="searchLabel()"
    [freeTextCriterion]="!!freeTextCriterion()"
    [maxCriteriaReached]="!!maxCriteria() && values().length >= maxCriteria()!"
    [allowFreeText]="allowFreeTextCache()"
    [searchForFreeTextLabel]="searchForFreeTextLabel()"
    [disableSelectionByColonAndSemicolon]="disableSelectionByColonAndSemicolon()"
    [onlySelectValue]="onlySelectValue()"
    [(searchValue)]="searchValue"
    (createCriterion)="onCreateCriterion($event)"
    (createCriterionByName)="onCreateCriterionByName($event)"
    (backspaceOverflow)="freeTextBackspace()"
    (createFreeTextPill)="createFreeTextPill($event)"
    (searchValueChange)="onSearchValueChange()"
    (inputFocus)="freeTextFocus()"
    (enterSubmit)="submit()"
  />
</div>
<!-- clear all searchCriteria -->
@if (values().length || searchValue().length) {
  <div class="clear-button-container">
    <button
      type="button"
      class="btn btn-icon btn-sm btn-tertiary-ghost mx-2"
      [disabled]="disabled()"
      [attr.aria-label]="clearButtonLabel() | translate"
      (click)="deleteAllCriteria($event)"
    >
      <si-icon [icon]="icons.elementCancel" />
    </button>
  </div>
}

@if (!disabled()) {
  <button
    type="button"
    class="search-button btn btn-icon btn-sm btn-secondary focus-inside"
    [disabled]="disabled()"
    [attr.aria-label]="submitButtonLabel() | translate"
    (click)="submit()"
  >
    <si-icon [icon]="icons.elementSearch" />
  </button>
}
