@use '@siemens/element-theme/src/styles/variables';

:host {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button {
  inline-size: 100%;
}

button.loading {
  .button-wrapper,
  &::before {
    // Need to hide the content. Using `visibility: hidden` doesn't work for a11y reasons.
    opacity: 0;
  }
}

.button-wrapper,
.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-wrapper {
  --loading-spinner-size: 24px;
  --loading-spinner-color: #{variables.$element-ui-6};
  position: absolute;
  inset: 0;
}

:is(.btn-secondary, .btn-tertiary) + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-accent};
}

.btn-danger + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-on-danger};
}

.btn-warning + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-on-warning};
}

:is(.btn-ghost, .btn-secondary-ghost, .btn-tertiary-ghost) + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-primary};
}

:is(.btn-secondary-warning, .btn-tertiary-warning) + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-on-warning-secondary};
}

:is(.btn-secondary-danger, .btn-tertiary-danger) + .spinner-wrapper {
  --loading-spinner-color: #{variables.$si-sys-text-on-danger-secondary};
}
