@use '@siemens/element-theme/src/styles/variables';

$loading-spinner-size: 64px;
$duration: variables.element-transition-duration(0.2s);

@keyframes spinner-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.05;
  }
}

:host {
  opacity: 1;
  transition: opacity $duration ease-in;

  @starting-style {
    opacity: 0;
  }

  &.spinner-leave {
    opacity: 0;
    transition: opacity $duration ease-out;
  }
}

.loading {
  display: block;
  text-align: center;
}

.blocking-spinner {
  background: var(--element-base-translucent-1);
}

.spinner-overlay {
  position: absolute;
  inset: 0;
  z-index: variables.$zindex-fixed + 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  inline-size: var(--loading-spinner-size, $loading-spinner-size);
  block-size: var(--loading-spinner-size, $loading-spinner-size);
}

path {
  --spinner-speed: calc(0.2s - 0.1s * var(--element-animations-enabled, 1));
  fill: var(--loading-spinner-color, variables.$element-ui-2);
  animation: spinner-fade calc(2s - 1s * var(--element-animations-enabled, 1)) infinite linear;

  @for $i from 0 through 9 {
    &:nth-child(#{$i + 1}) {
      animation-delay: calc($i * var(--spinner-speed));
      opacity: 1 - $i * 0.1;
    }
  }
}
