<button
  [type]="type()"
  [class]="buttonClass()"
  [class.loading]="loading()"
  [class.disabled]="loading()"
  [disabled]="disabled()"
  [aria-disabled]="disabled() || loading()"
  [aria-label]="ariaLabel() | translate"
  [aria-labelledby]="ariaLabelledBy()"
  [attr.tabindex]="loading() ? '-1' : null"
  (click)="handleClick($event)"
>
  <div class="button-wrapper">
    <ng-content />
  </div>
</button>
@if (loading()) {
  <div class="spinner-wrapper" (click)="$event.stopPropagation()">
    <si-loading-spinner />
  </div>
}
