@use '@siemens/element-theme/src/styles/variables';

.highlighter {
  position: fixed;
  box-shadow: variables.$si-sys-effects-backdrop 0 0 0 1000vmax;
  pointer-events: none;
}

::ng-deep {
  .cdk-global-overlay-wrapper:has(si-tour-highlight) {
    z-index: 2000;
  }
}
