@use 'sass:map';
@use 'sass:math';

@use '@siemens/element-theme/src/styles/all-variables';

:host.si-form-input {
  display: block;
  margin-block-end: map.get(all-variables.$spacers, 5);

  &.si-form-input-set {
    display: flex;
    flex-direction: column;
  }

  .form-item-content {
    display: block;
  }
}

.form-label:empty {
  display: none;
}

/// ACCOUNT FOR MEASURED CONTAINERS
:host-context(.si-container-sm),
:host-context(.si-container-md),
:host-context(.si-container-lg),
:host-context(.si-container-xl),
:host-context(.si-container-xxl) {
  .si-form-input {
    display: flex;
  }

  :host.si-form-input-set {
    flex-direction: row;
  }

  :host.si-form-input-set,
  .form-item-content:not(.sub) {
    display: grid;
    grid-template-columns: var(--si-form-label-width, 1fr) 5fr;
    grid-auto-flow: row;
  }

  .form-label {
    padding-block: all-variables.add(
      all-variables.$input-padding-y,
      all-variables.$input-border-width
    );
    padding-inline: map.get(all-variables.$spacers, 6);
    line-height: all-variables.$input-line-height;

    &:empty {
      display: block;
    }
  }

  :host-context(si-form-fieldset) .form-label {
    padding-block: 0;
  }

  :host(.form-check) {
    .form-label {
      padding-block: 2px;
    }
  }
}
