<div
  class="grid-stack"
  [attr.role]="editable() ? null : 'list'"
  [attr.aria-label]="editable() ? null : (a11yWidgetsListLabel | translate)"
>
  @if (grid) {
    @for (item of widgetConfigs(); track item.id) {
      @let widget = widgetCatalogMap().get(item.widgetId);
      <si-widget-host
        [grid]="grid"
        [editable]="editable()"
        [widgetConfig]="item"
        [iconClass]="widget?.iconClass ?? 'element-apps'"
        [componentFactory]="widget?.componentFactory"
        (remove)="widgetInstanceRemove.emit(item.id)"
        (edit)="widgetInstanceEdit.emit(item)"
      />
    }
  }
</div>
