@use '@siemens/element-theme/src/styles/variables';

:host {
  --loading-spinner-size: 24px;
}

// Overwrite some of Bootstrap's dropdown styling.
.dropdown-menu {
  display: block;
  position: relative;
  inset-block-start: 0;
  inset-inline-start: 0;
  // Correction to keep previous look (looks better with focus styling)
  margin-block-start: 1px;
  overflow-y: auto;
  overflow-x: hidden;
  max-block-size: 100%;

  &.empty-loading {
    min-block-size: 176px;
  }
}

// Make matching segments bold.
.typeahead-match-segment-matching {
  font-weight: variables.$si-font-weight-h5;
}

.dropdown-item {
  * {
    flex-shrink: 0;
  }

  span {
    white-space: pre-wrap;
  }
}

:host::ng-deep .blocking-spinner {
  // stylelint-disable-next-line declaration-no-important
  background: variables.$element-base-1 !important;
}
