<ng-container
  [ngTemplateOutlet]="optionTemplate() ?? defaultOptionTemplate"
  [ngTemplateOutletContext]="{ $implicit: option() }"
/>

<ng-template #defaultOptionTemplate let-item siSelectOptionTemplate>
  @if (item.icon) {
    <i class="icon-stack">
      <si-icon
        [class]="`icon me-2${!item.disabled && item.iconColor ? ` ${item.iconColor}` : ''}`"
        [icon]="item.icon"
      />
      @if (item.stackedIcon) {
        <si-icon
          [class]="`icon me-2${item.stackedIconColor ? ` ${item.stackedIconColor}` : ''}`"
          [icon]="item.stackedIcon"
        />
      }
    </i>
  }
  @if (item.label) {
    <span class="text-truncate">{{ item.label | translate }}</span>
  }
</ng-template>
