<!-- eslint-disable @angular-eslint/template/no-any -->
<!-- temporary until old primary-navbar is removed -->
<div
  class="app-switcher gap-6 g-5 g-sm-9 container-fluid"
  cdkTrapFocus
  cdkTrapFocusAutoCapture
  (keydown.escape)="escape()"
>
  @if (titleText()) {
    <div class="apps-header">
      <span>
        <p class="si-h4 lh-1 m-0">{{ titleText() | translate }}</p>
        @if (subtitleText()) {
          <p class="si-body text-secondary mt-4 mb-0">{{ subtitleText() | translate }}</p>
        }
      </span>
      <button
        type="button"
        class="btn btn-circle btn-ghost"
        [attr.aria-label]="closeText() | translate"
        (click)="closeLaunchpad()"
      >
        <si-icon [icon]="icons.elementCancel" />
      </button>
    </div>
  }
  <div class="apps-scroll ms-n2 ps-2">
    @for (category of categories(); track category; let first = $first) {
      @if (!enableFavorites() || !hasFavorites() || first || showAllApps) {
        <div>
          @if (category.name) {
            <div
              class="si-h4 launchpad-category-title mb-6"
              [class.mt-4]="first"
              [class.mt-8]="!first"
            >
              {{ category.name | translate }}
            </div>
          }
          <div class="d-flex flex-wrap gap-4">
            @for (app of category.apps; track app) {
              @switch (app.type) {
                @case ('router-link') {
                  <a
                    si-launchpad-app
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="app.activeMatchOptions ?? { exact: false }"
                    [enableFavoriteToggle]="enableFavorites() && !$any(app)._noFavorite"
                    [external]="app.external"
                    [iconUrl]="app.iconUrl"
                    [iconClass]="app.iconClass"
                    [favorite]="!!app.favorite"
                    [routerLink]="app.routerLink"
                    [queryParams]="app.extras?.queryParams"
                    [queryParamsHandling]="app.extras?.queryParamsHandling"
                    [fragment]="app.extras?.fragment"
                    [state]="app.extras?.state"
                    [relativeTo]="app.extras?.relativeTo ?? this.activatedRoute"
                    [preserveFragment]="app.extras?.preserveFragment"
                    [skipLocationChange]="app.extras?.skipLocationChange"
                    [replaceUrl]="app.extras?.replaceUrl"
                    (favoriteChange)="toggleFavorite(app, $event)"
                  >
                    <span app-name>{{ app.name | translate }}</span>
                    <span app-systemName>{{ app.systemName | translate }}</span>
                  </a>
                }
                @default {
                  <!--fallback for existing apps that do not have a type defined -->
                  <a
                    si-launchpad-app
                    [enableFavoriteToggle]="enableFavorites() && !$any(app)._noFavorite"
                    [favorite]="!!app.favorite"
                    [href]="app.href"
                    [target]="app.target ?? ''"
                    [active]="app.active"
                    [external]="app.external"
                    [iconUrl]="app.iconUrl"
                    [iconClass]="app.iconClass"
                    (favoriteChange)="toggleFavorite(app, $event)"
                  >
                    <span app-name>{{ app.name | translate }}</span>
                    <span app-systemName>{{ app.systemName | translate }}</span>
                  </a>
                }
              }
            }
          </div>
        </div>
      }

      @if (enableFavorites() && first && hasFavorites()) {
        <button
          type="button"
          class="btn btn-link btn-show-all dropdown-toggle text-decoration-none si-h5"
          [class.show]="showAllApps"
          (click)="showAllApps = !showAllApps"
        >
          <b>{{ (showAllApps ? showLessAppsText() : showMoreAppsText()) | translate }}</b>
          <si-icon class="dropdown-caret icon" [icon]="icons.elementDown2" />
        </button>
      }
    }
  </div>
</div>
