@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';
@use '@siemens/element-theme/src/styles/all-variables';

:host {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  padding-block: map.get(variables.$spacers, 8);
  inline-size: 152px;
  max-inline-size: 152px;
  padding-inline: map.get(variables.$spacers, 4);
  color: variables.$element-text-primary;
  border-radius: variables.$element-radius-2;

  &.action {
    color: variables.$element-action-primary;
  }

  &.active,
  &:hover {
    color: variables.$element-text-primary;
    text-decoration: none;
  }

  &.active {
    background-color: variables.$element-base-1-selected;
  }

  &:hover {
    background-color: variables.$element-base-1-hover;
  }
}

.app-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-inline-size: 100%;
  overflow: hidden;
}

.app-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 48px;
  block-size: 48px;
  margin-block-end: map.get(variables.$spacers, 4);
  border-radius: variables.$element-radius-2;

  &:is(si-icon) {
    background: variables.$element-launchpad-app-background;
    font-size: 40px;
    padding: map.get(variables.$spacers, 2);
    color: variables.$element-launchpad-app-color;
  }
}

.favorite-icon {
  position: absolute;
  inset-inline-end: map.get(variables.$spacers, 6);
  inset-block-start: map.get(variables.$spacers, 6);
  color: variables.$element-text-primary;
}

.is-favorite {
  color: variables.$element-status-caution;
}

@include all-variables.media-breakpoint-down(md) {
  :host {
    flex-flow: row nowrap;
    inline-size: 100%;
    max-inline-size: 100%;
    padding: map.get(variables.$spacers, 4);

    &:has(.favorite-icon) {
      padding-inline-end: map.get(variables.$spacers, 9);
    }
  }

  .app-icon {
    margin-block-end: 0;
    margin-inline-end: map.get(variables.$spacers, 4);
  }

  .app-text {
    align-items: start;
  }

  .favorite-icon {
    inset-inline-end: map.get(variables.$spacers, 4);
    inset-block-start: map.get(variables.$spacers, 4);
  }
}
