@use 'sass:map';

@use '@siemens/element-theme/src/styles/all-variables';

.app-switcher {
  position: absolute;
  pointer-events: all;
  inset-block-start: calc(
    all-variables.$si-application-header-height + 1px /* header border compensation */ +
      all-variables.$si-titlebar-spacing + all-variables.$si-system-banner-spacing
  );
  inset-inline: 0;
  min-block-size: 200px;
  max-block-size: calc(
    100vh - all-variables.$si-application-header-height - all-variables.$si-titlebar-spacing -
      all-variables.$si-system-banner-spacing
  );
  padding-block: map.get(all-variables.$spacers, 6);
  padding-inline: map.get(all-variables.$spacers, 8);
  display: flex;
  flex-direction: column;
  background-color: all-variables.$element-base-1;

  @include all-variables.media-breakpoint-down(md) {
    padding: map.get(all-variables.$spacers, 6);
  }
}

.apps-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apps-scroll {
  overflow-y: auto;
}

.btn-show-all {
  margin-block-start: map.get(all-variables.$spacers, 6);
  margin-block-end: map.get(all-variables.$spacers, 4);

  &.show {
    margin-block-end: map.get(all-variables.$spacers, 8);
  }

  &.show:has(+ div .launchpad-category-title) {
    margin-block-end: 0;
  }
}
