@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
  inline-size: 100%;

  .banner {
    padding-block: variables.$si-system-banner-padding-y;
    padding-inline: map.get(variables.$spacers-inline, 4);

    ::ng-deep a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &.banner-info {
    background-color: variables.$si-sys-background-information;
    color: variables.$si-sys-text-on-information;
  }

  &.banner-success {
    background-color: variables.$si-sys-background-success;
    color: variables.$si-sys-text-on-success;
  }

  &.banner-warning {
    background-color: variables.$si-sys-background-warning;
    color: variables.$si-sys-text-on-warning;
  }

  &.banner-caution {
    background-color: variables.$si-sys-background-caution;
    color: variables.$si-sys-text-on-caution;
  }

  &.banner-danger {
    background-color: variables.$si-sys-background-danger;
    color: variables.$si-sys-text-on-danger;
  }

  &.banner-critical {
    background-color: variables.$si-sys-background-critical;
    color: variables.$si-sys-text-on-critical;
  }
}
