<div
  role="tooltip"
  [class]="['tooltip', 'show', 'position-relative', tooltipPositionClass()]"
  [id]="id()"
>
  <div
    class="tooltip-arrow"
    [style.left.px]="arrowPos()?.left"
    [style.right.px]="arrowPos()?.right"
  ></div>
  <div class="tooltip-inner">
    @if (tooltipText()) {
      <div class="si-body">{{ tooltipText() | translate }}</div>
    } @else if (tooltipTemplate()) {
      <ng-template
        [ngTemplateOutlet]="tooltipTemplate()"
        [ngTemplateOutletContext]="tooltipContext()"
      />
    } @else if (tooltipComponent()) {
      <ng-container [ngComponentOutlet]="tooltipComponent()" />
    }
  </div>
</div>
