@use '@siemens/element-theme/src/styles/variables';

$transition-duration: variables.element-transition-duration(0.15s);

%transition {
  transition:
    opacity $transition-duration ease-out,
    transform $transition-duration ease-out;
}

:host {
  opacity: 1;
  transform: scale(1);
  @extend %transition;

  &.tooltip-leave {
    opacity: 0;
    transform: scale(0.8);
  }

  .tooltip {
    @extend %transition;

    @starting-style {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
