<div class="d-flex flex-column gap-10 align-items-center w-100">
  <!-- Welcome Header -->
  <div class="welcome-header d-flex flex-column gap-4 w-100 pt-10 pb-8">
    <ng-content />
  </div>

  <!-- Prompt Categories and Suggestions -->
  <div class="prompt-suggestions d-flex flex-column gap-6 align-items-center w-100">
    @if (categories().length > 0) {
      <div class="d-flex gap-4 align-items-center w-100">
        @for (category of categories(); track $index) {
          <si-summary-chip
            class="user-select-none"
            [label]="category.label"
            [selected]="selectedCategory() === category.label"
            (selectedChange)="onCategoryClick(category.label)"
          />
        }
      </div>
    }

    @if (promptSuggestions().length > 0) {
      <div class="d-flex flex-column gap-4 w-100">
        @for (suggestion of promptSuggestions(); track $index) {
          <button si-action-card type="button" class="w-100" (click)="onPromptClick(suggestion)">
            <div body class="card-body card-text">
              {{ suggestion.text }}
            </div>
          </button>
        }
      </div>
    }
  </div>
</div>
