@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
}

si-chat-message {
  --chat-message-bubble-bg: transparent;
  // Because of the transparent background we need to reduce the margin a bit
  --chat-message-avatar-base-margin: #{map.get(variables.$spacers, 1)};
}

// Loading spinner size adjustment (inherited from generic component)
:host ::ng-deep si-loading-spinner {
  --loading-spinner-size: 1.5em;
}
