@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

:host {
  max-inline-size: 720px;
}

.input-wrapper {
  border-color: variables.$si-sys-border-4;
  background-color: variables.$si-sys-background-1;
  padding-block: map.get(variables.$spacers, 5) map.get(variables.$spacers, 4);
  padding-inline: map.get(variables.$spacers, 5);
  display: flex;
  flex-direction: column;
  gap: map.get(variables.$spacers, 5);

  &:hover,
  &:active,
  &:focus-within {
    background-color: variables.$si-sys-background-4;
    border-color: variables.$si-sys-border-1;
  }

  &.drag-over {
    border: 1px solid variables.$si-sys-effects-focus;
    box-shadow: 0 0 0 1px variables.$si-sys-effects-focus;
  }
}

.chat-textarea {
  // Prevent layout shift on first input
  min-block-size: 1lh;
  font-family: inherit;
  padding-block: 0;
  display: block;
  outline: none;
  resize: none;
  background-color: transparent;

  &::placeholder {
    color: variables.$si-sys-text-secondary;
  }

  &:disabled {
    background-color: transparent;
    color: variables.$si-sys-text-disabled;
    cursor: not-allowed;

    &::placeholder {
      color: variables.$si-sys-text-disabled;
    }
  }
}

.input-wrapper:has(.chat-textarea:focus-visible) {
  @include variables.make-outline-focus();
}

.disclaimer-wrapper:empty {
  display: none;
}
