<div class="d-flex flex-column h-100 w-100 overflow-hidden px-3 pb-3">
  <div
    #messagesContainer
    class="messages-container d-flex flex-column flex-grow-1 pt-3 w-100"
    (scroll)="onScroll()"
  >
    @if (isEmpty()) {
      <div
        class="d-flex flex-column align-items-center justify-content-center h-100 text-center p-4"
      >
        <si-empty-state
          [icon]="aiIcon()"
          [heading]="emptyStateTitle()"
          [content]="emptyStateDescription()"
        />
      </div>
    }

    <ng-content />

    @if (displayMessages() !== undefined && !isEmpty()) {
      @for (message of displayMessages(); track message.id) {
        <div class="w-100" [class.pb-7]="!$last" [class.pb-4]="$last">
          @if (message.template) {
            <!-- Template-based message -->
            <ng-container
              [ngTemplateOutlet]="message.template"
              [ngTemplateOutletContext]="message || {}"
            />
          } @else {
            <!-- Standard messages -->
            @if (message.type === 'user') {
              <si-user-message
                class="pe-4"
                [content]="message.content"
                [attachments]="message.attachments || []"
                [actions]="message.actions || []"
                [actionParam]="actionParam()"
                [actionsLabel]="userMessageActionsLabel()"
              />
            }

            @if (message.type === 'ai') {
              <si-ai-message
                [content]="message.content"
                [loading]="message.loading || false"
                [aiIcon]="aiIcon()"
                [actions]="getAiMessagePrimaryActions(message)"
                [secondaryActions]="getAiMessageSecondaryActions(message)"
                [actionParam]="actionParam()"
                [secondaryActionsLabel]="secondaryActionsLabel()"
              />
            }

            @if (message.type === 'tool') {
              <si-tool-message
                toolIcon="element-maintenance"
                [name]="message.name"
                [inputArguments]="message.inputArguments"
                [output]="message.output"
                [loading]="message.loading || false"
                [inputArgumentsLabel]="toolInputArgumentsLabel()"
                [outputLabel]="toolOutputLabel()"
              />
            }
          }
        </div>
      }
    }

    <div class="flex-grow-1"></div>

    <div class="chat-input-area p-3 pt-0 mt-3 d-flex flex-column align-items-center">
      @if (statusSeverity() && statusMessage()) {
        <si-inline-notification
          class="mb-5 w-100 overflow-hidden"
          [severity]="statusSeverity()!"
          [heading]="statusHeading()"
          [message]="statusMessage()!"
          [action]="statusAction()"
        />
      }

      <si-chat-input
        class="w-100"
        [placeholder]="inputPlaceholder()"
        [disabled]="disabled()"
        [sending]="sending()"
        [disclaimer]="disclaimer()"
        [actions]="inputPrimaryActions()"
        [secondaryActions]="inputSecondaryActions()"
        [allowAttachments]="allowAttachments()"
        [attachments]="attachments()"
        [accept]="accept()"
        [maxFileSize]="maxFileSize()"
        [actionParam]="actionParam()"
        [label]="inputLabel()"
        [secondaryActionsLabel]="secondaryActionsLabel()"
        [sendButtonLabel]="sendButtonLabel()"
        [sendButtonIcon]="sendButtonIcon()"
        [attachFileLabel]="attachFileLabel()"
        [removeAttachmentLabel]="removeAttachmentLabel()"
        [autoFocus]="!disableAutoFocus()"
        [(value)]="inputValue"
        (send)="onMessageSent($event)"
        (fileError)="onFileError($event)"
      />
    </div>
  </div>
</div>
