<div
  class="input-wrapper border rounded-3 bg-body"
  [class.drag-over]="dragOver"
  (click)="onContainerClick($event)"
  (drop)="dropHandler($event)"
  (dragover)="dragOverHandler($event)"
  (dragleave)="dragOver = false"
>
  @if (hasAttachments()) {
    <div class="p-4 pb-0">
      <si-attachment-list
        [attachments]="attachmentList"
        [removeLabel]="removeAttachmentLabel()"
        [removable]="true"
        (remove)="removeAttachment($event)"
      />
    </div>
  }

  <div class="p-4 pe-2 pb-0 si-body-2">
    <label class="form-label d-none" [for]="id">{{ label() | translate }}</label>
    <textarea
      #textInput
      class="chat-textarea w-100 border-0 p-2"
      rows="1"
      [id]="id"
      [placeholder]="placeholder() | translate"
      [disabled]="disabled()"
      [maxlength]="maxLength() || null"
      [(ngModel)]="value"
      (keydown)="onKeyDown($event)"
      (input)="adjustTextareaHeight($event)"
    ></textarea>
  </div>

  <div class="d-flex align-items-center justify-content-between px-4 ps-5 pb-2">
    <div class="d-flex align-items-center gap-4">
      @if (allowAttachments()) {
        <input
          #fileInput
          type="file"
          class="d-none"
          siFileUpload
          [accept]="accept()"
          [maxFileSize]="maxFileSize()"
          [multiple]="true"
          (validFiles)="onFilesAdded($event)"
          (fileError)="onFileError($event)"
        />

        <button
          type="button"
          class="btn btn-ghost btn-icon"
          [attr.aria-label]="attachFileLabel() | translate"
          [disabled]="disabled()"
          (click)="fileInput.click()"
        >
          <si-icon icon="element-attachment" />
        </button>
      }

      @if (hasActions() || hasSecondaryActions()) {
        <div class="d-flex gap-4 ai-message-actions" siChatMessageAction>
          @for (action of actions(); track $index) {
            <button
              type="button"
              class="btn btn-ghost btn-icon"
              [disabled]="action.disabled"
              [attr.aria-label]="action.label | translate"
              (click)="action.action(actionParam(), action)"
            >
              <si-icon [icon]="action.icon" />
            </button>
          }

          @if (secondaryActions().length > 0) {
            <button
              type="button"
              class="btn btn-ghost btn-icon"
              [cdkMenuTriggerFor]="secondaryActionsMenu"
              [attr.aria-label]="secondaryActionsLabel() | translate"
              [attr.title]="secondaryActionsLabel() | translate"
            >
              <si-icon icon="element-optionsVertical" />
            </button>

            <ng-template #secondaryActionsMenu>
              <si-menu-factory [items]="secondaryActions()" [actionParam]="actionParam()" />
            </ng-template>
          }
        </div>
      }
      <div #projected class="d-flex flex-wrap align-items-start gap-4">
        <ng-content />
      </div>
    </div>

    <button
      type="button"
      class="btn btn-ghost btn-icon"
      [disabled]="buttonDisabled()"
      [attr.aria-label]="buttonLabel() | translate"
      (click)="onButtonClick()"
    >
      <si-icon class="text-primary" [icon]="buttonIcon()" />
    </button>
  </div>
</div>

<div class="disclaimer-wrapper text-center mt-4 px-3">
  @if (disclaimer()) {
    <span class="si-caption text-secondary d-block">{{ disclaimer() | translate }}</span>
  }
  <ng-content select="[siChatInputDisclaimer]" />
</div>
