<si-chat-message alignment="end" actionsPosition="bottom" [loading]="false">
  @if (hasAttachments()) {
    <si-attachment-list alignment="end" [attachments]="attachments()" [removable]="false" />
  }

  @if (content()) {
    <span class="text-pre-wrap">{{ content() }}</span>
  } @else {
    <ng-content />
  }
  @if (actions().length > 0 || secondaryActions().length > 0) {
    <si-chat-message-actions
      class="user-message-actions"
      siChatMessageAction
      [actions]="actions()"
      [secondaryActions]="secondaryActions()"
      [actionParam]="actionParam()"
      [secondaryActionsLabel]="secondaryActionsLabel()"
    />
  }
</si-chat-message>
