@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

:host {
  display: flex;
  flex-direction: column;
  gap: map.get(variables.$spacers, 6);
  contain: layout;

  ::ng-deep {
    si-split {
      min-block-size: 0;
    }

    si-list-pane-header ~ si-list-pane-header {
      padding-block-start: 0;
    }
  }

  .list-details {
    flex: 1 1 0;
    min-block-size: 0;
    inline-size: 100%;
    position: relative;
  }

  &:not(.expanded) {
    .list-details {
      inline-size: 200%;
      margin-inline-start: 0;
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;

      &.details-active {
        transform: translateX(-50%);

        :host-context([dir='rtl']) & {
          transform: translateX(50%);
        }
      }
    }
  }

  &.animations-disabled {
    .list-details {
      transition: none;
    }
  }
}
