<div class="search-bar" [class.variant-background-0]="colorVariant() === 'base-0'">
  @if (showIcon()) {
    <si-icon class="search-bar-icon" [icon]="icons.elementSearch" />
  }
  <input
    #inputRef
    type="text"
    class="search-bar-input form-control"
    [disabled]="disabled()"
    [placeholder]="placeholder()"
    [class.is-invalid]="isInvalid"
    [class.icon-end]="searchValue()"
    [attr.maxlength]="maxlength()"
    [readonly]="readonly()"
    (blur)="onBlur()"
    (input)="input($event)"
  />
  @if (searchValue()) {
    <button
      type="button"
      class="btn btn-icon btn-sm btn-tertiary-ghost search-bar-clear"
      [attr.aria-label]="clearButtonAriaLabel() | translate"
      [disabled]="disabled() || readonly()"
      (click)="resetForm()"
      (focusin)="onCancelFocus($event)"
    >
      <si-icon [icon]="icons.elementCancel" />
    </button>
  }
</div>
