@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';
@use '@siemens/element-theme/src/styles/variables/system-tokens';

:host {
  --search-bar-icon-color: #{system-tokens.$si-sys-text-secondary};
  --input-background-color: #{system-tokens.$si-sys-background-1};
  --input-background-hover-color: #{system-tokens.$si-sys-background-1};

  div:hover,
  div.focus {
    .search-bar-icon,
    ::placeholder {
      color: system-tokens.$si-sys-text-primary !important; // stylelint-disable-line declaration-no-important
    }
  }
}

.dark-background {
  --input-background-color: #{system-tokens.$si-sys-background-2};
  --input-background-hover-color: #{system-tokens.$si-sys-background-2};
}

input {
  transition: none;
  background-color: var(--input-background-color);
  border-radius: 4px;
  border-width: 0;

  &.form-control:focus-visible {
    background-color: var(--input-background-color);
  }
}

.cancel-button {
  position: absolute;
  inset-block: 0;
  inset-inline-end: map.get(variables.$spacers, 2);
  margin-block: auto;
}

.is-invalid ~ .cancel-button {
  color: system-tokens.$si-sys-text-danger;
}

.search-bar-icon {
  position: absolute;
  inset-block: 0;
  inset-inline-start: map.get(variables.$spacers, 3);
  align-items: center;
  color: var(--search-bar-icon-color);
}

.icon-start {
  padding-inline-start: calc(#{variables.$si-icon-font-size} + #{map.get(variables.$spacers, 5)});
}

.icon-end {
  padding-inline-end: variables.$si-icon-font-size; // must equal delete button size
}

::placeholder {
  color: system-tokens.$si-sys-text-secondary;
  padding-inline-start: map.get(variables.$spacers, 1);
}

.disabled {
  .search-bar-icon,
  input,
  .cancel-button,
  ::placeholder {
    color: system-tokens.$si-sys-text-disabled;
  }

  input {
    background-color: var(--input-background-color);
  }
}
