@let value = criterionValue().value;
@if (!active()) {
  <div
    class="criterion-value-text focus-inside px-4"
    [tabindex]="disabled() ? -1 : 0"
    (keydown.enter)="editValue.emit()"
    (click)="editValue.emit()"
  >
    @if (!!value && hasMultiSelections()) {
      {{ itemCountText() | translate: { itemCount: value.length } }}
    } @else if (optionValue()[0]) {
      {{ optionValue()[0].label ?? optionValue()[0].value | translate }}
    } @else {
      {{ value }}
    }
  </div>
} @else {
  <input
    #valueInput
    typeaheadOptionField="translatedLabel"
    class="px-4 py-0 border-0 focus-inside"
    typeaheadScrollable
    typeaheadMultiSelect
    [type]="inputType()"
    [step]="step()"
    [siTypeahead]="options() ?? []"
    [typeaheadMinLength]="0"
    [typeaheadOptionsLimit]="maxCriteriaOptions()"
    [readOnly]="onlySelectValue()"
    [typeaheadOptionsInScrollableView]="optionsInScrollableView()"
    [attr.aria-label]="searchLabel() | translate"
    (keydown.backspace)="valueBackspace()"
    (keydown.enter)="valueEnter()"
    (typeaheadOnSelect)="valueTypeaheadSelect($event)"
    (typeaheadOnInput)="inputChange.next($event)"
  />
}
