@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables/semantic-tokens';
@use '@siemens/element-theme/src/styles/variables';
@use '@siemens/element-theme/src/styles/variables/system-tokens';

.item-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  min-inline-size: variables.$si-icon-font-size;
}

.item-title,
.item-end {
  &:empty {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

:host-context(si-menu-bar, si-content-action-bar) {
  :host {
    border-radius: 0;

    &:first-child {
      border-start-start-radius: semantic-tokens.$element-button-radius;
      border-end-start-radius: semantic-tokens.$element-button-radius;
    }

    &:last-child {
      border-start-end-radius: semantic-tokens.$element-button-radius;
      border-end-end-radius: semantic-tokens.$element-button-radius;
    }
  }

  color: system-tokens.$si-sys-text-accent;
  background: system-tokens.$si-sys-background-1;
  padding-inline: map.get(variables.$spacers, 4);

  .item-wrapper {
    justify-content: center;
  }

  .icon {
    margin-inline: 0;
  }

  .item-end {
    margin-inline-end: 0 !important; // stylelint-disable-line declaration-no-important
  }

  .item-title {
    padding-inline-start: 0;
    flex: 0 1 auto;

    &:empty + .item-end {
      // stylelint-disable-next-line declaration-no-important
      display: none !important;
    }
  }

  .icon + .item-title {
    padding-inline-start: map.get(variables.$spacers, 2);
  }

  .item-end .submenu {
    transform: rotate(90deg);
  }

  &.active {
    .item-end .submenu {
      transform: rotate(270deg);
    }
  }

  &[aria-haspopup] {
    .icon {
      margin-inline: 0;
    }

    .item-title {
      padding-inline-start: map.get(
        variables.$spacers,
        2
      ) !important; // stylelint-disable-line declaration-no-important
    }
  }

  &:focus,
  &.focus {
    color: system-tokens.$si-sys-text-accent;
    background: system-tokens.$si-sys-background-1;
  }

  &:hover,
  &.hover {
    color: system-tokens.$si-sys-text-on-accent-secondary-hover;
    background: system-tokens.$si-sys-background-accent-secondary-hover;
  }

  &:active,
  &.active,
  &[aria-expanded='true'] {
    color: system-tokens.$si-sys-text-on-accent-secondary-active;
    background: system-tokens.$si-sys-background-accent-secondary-active;
  }

  &:disabled,
  &.disabled {
    opacity: variables.$element-action-disabled-opacity;
    color: system-tokens.$si-sys-text-accent;
    background: system-tokens.$si-sys-background-1;
  }
}

:host-context(.card-outline) {
  background: transparent;
}
