@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

$transition-duration: variables.$element-default-transition-duration;

:host(.navbar-vertical-item) {
  display: flex;
  align-items: center;
  position: relative;
  color: variables.$element-text-primary;
  background: none;
  border: 0;
  font-size: variables.$si-font-size-body;
  padding-block: map.get(variables.$spacers, 4);
  padding-inline: 0 map.get(variables.$spacers, 5);
  min-inline-size: 0;
  min-block-size: 40px;
  inline-size: 100%;
  border-radius: 0;

  .item-content {
    overflow: hidden;
  }

  .item-title {
    margin-inline-start: map.get(variables.$spacers, 5);
  }

  .icon {
    position: absolute;
    margin-inline-start: map.get(variables.$spacers, 5);
  }

  .icon + .item-title {
    margin-inline-start: map.get(variables.$spacers, 5) + map.get(variables.$spacers, 4) + 24px;
  }

  &.show .badge:not(.badge-collapsed) {
    display: none;
  }

  &:not(.show) .badge + .dropdown-caret {
    margin-inline: 0;
    padding-inline: 0;
  }

  &.active {
    color: variables.$element-action-primary-hover;
    background: variables.$element-base-1-selected;

    &::after {
      content: '';
      position: absolute;
      inset-block: 0;
      inset-inline-start: 0;
      inline-size: 4px;
      background: variables.$element-action-primary-hover;
    }
  }

  &:hover {
    text-decoration: none;
    background: variables.$element-base-1-hover;
  }
}

// Don't merge with :is. Angular 19 fails to compile it in a correct way.
:host-context(.nav-scroll > .navbar-vertical-item) + :host(.navbar-vertical-item),
:host-context(.nav-scroll > si-navbar-vertical-group) + :host(.navbar-vertical-item),
:host-context(.nav-scroll > si-navbar-flyout-anchor) + :host(.navbar-vertical-item) {
  margin-block-start: map.get(variables.$spacers, 4);
}

:host-context(.nav-text-only si-navbar-vertical-group) .item-title {
  margin-inline-start: 0;
}

:host-context(si-navbar-vertical-group) :host(.navbar-vertical-item) {
  padding-inline-start: map.get(variables.$spacers, 9);

  .item-title {
    font-weight: normal;
  }
}

:host(.dropdown-item) {
  .item-title {
    font-weight: normal;
  }
}

.dropdown-caret {
  opacity: 1;
  transform-origin: center;
  transition-property: opacity, inline-size, transform;
  transition-duration:
    calc($transition-duration / 2), calc($transition-duration / 2), $transition-duration;
  transition-delay: calc($transition-duration / 2), 0s, 0s;
  transition-timing-function: ease;
}

.item-title {
  opacity: 1;
  transition: opacity calc($transition-duration / 2) calc($transition-duration / 2) ease;
}

:host-context(.nav-collapsed) :is(.dropdown-caret) {
  opacity: 0;
  inline-size: 0;
  transition:
    opacity 0s,
    inline-size calc($transition-duration / 2) ease;
}

:host-context(.nav-collapsed) :is(.item-title) {
  opacity: 0;
  transition: opacity calc($transition-duration / 2) ease;
}

:host-context(.nav-collapsed) :is(.icon) {
  animation: none;
}

:host-context(.nav-collapsed).hide-badge-collapsed .badge {
  opacity: 0;
  visibility: hidden;
}

:host-context(.link-with-items) > :host(button) {
  padding-inline: map.get(variables.$spacers, 5);

  .item-title,
  .icon {
    display: none;
  }

  .dropdown-caret {
    padding-inline: 0;
  }

  &::after {
    display: none;
  }
}

:host-context(.nav-collapsed .link-with-items) {
  > :host(button) {
    padding-inline: 0;

    &::after {
      display: block;
    }

    .icon {
      display: flex;
    }
  }

  > :host(a) {
    display: none;
  }
}

.badge {
  position: relative;
  margin-inline: auto 0;
  transform: translate(0, 0);
  transition-property:
    transform, opacity, visibility, block-size, min-inline-size, border-radius, line-height,
    padding, font-weight, color, font-size;
  transition-duration:
    $transition-duration, $transition-duration, $transition-duration, $transition-duration,
    $transition-duration, $transition-duration, $transition-duration, $transition-duration,
    $transition-duration, calc($transition-duration / 2), calc($transition-duration / 2);
  transition-timing-function: ease-out;
}

.badge-collapsed:not(.dropdown-item .badge) {
  position: absolute;
  // Values calculated for smooth badge positioning during navbar collapse/expand
  inset-inline-end: 12px;
  transform: translate(6px, -9px);
  block-size: 14px;
  min-inline-size: 14px;
  border-radius: 7px;
  font-size: variables.$si-font-size-caption;
  line-height: 14px;
  padding-block: 0;
  padding-inline: map.get(variables.$spacers, 2);
  font-weight: variables.$si-font-weight-semibold;

  :host(.dropdown-toggle) & {
    inset-inline-end: 36px;
    transform: translate(30px, -9px);
  }

  &.badge-text-only {
    color: transparent;
    font-size: 0;
  }
}
