@if (item().icon) {
  <i class="icon me-n2" aria-hidden="true" [ngClass]="[item().icon]"></i>
}
@if (item().icon && formattedBadge()) {
  <div class="w-100 h-100 position-absolute">
    <span class="badge-text">{{ formattedBadge() }}</span>
  </div>
}
<div
  class="item-title text-truncate si-h5"
  [class.visually-hidden]="!this.parent && this.navbar.collapsed()"
>
  <ng-content />
</div>
@if (formattedBadge()) {
  <span class="badge" [ngClass]="'bg-' + item().badgeColor">
    {{ formattedBadge() }}
  </span>
}
@if (group) {
  <span aria-hidden="true" class="dropdown-caret element-down-2 me-0 text-body"></span>
}
