@let icon = item().icon;
@if (icon) {
  <si-icon class="icon me-n2" [icon]="icon" />
}
@if (icon && formattedBadge()) {
  <div class="w-100 h-100 position-absolute">
    <span class="badge-text">{{ formattedBadge() }}</span>
  </div>
}
<div
  class="item-title text-truncate si-h5"
  [class.visually-hidden]="!this.parent && this.navbar.collapsed()"
>
  <ng-content />
</div>
@if (formattedBadge()) {
  <span [class]="['badge', item().badgeColor ? `bg-${item().badgeColor}` : '']">
    {{ formattedBadge() }}
  </span>
}
@if (group) {
  <si-icon aria-hidden="true" class="dropdown-caret me-0 text-body" [icon]="icons.elementDown2" />
}
