@let iconValue = icon();
@let contentValue = content();
<div class="list-group-item-empty" [class.auto-responsive]="responsiveMode()">
  @if (iconValue) {
    <si-icon class="state-icon text-secondary" [icon]="iconValue" />
  }
  <span class="state-heading text-center" [class.text-truncate]="responsiveMode()">
    {{ heading() | translate }}
  </span>
  @if (contentValue) {
    <p class="state-content text-center text-secondary" [class.text-truncate]="responsiveMode()">
      {{ contentValue | translate }}
    </p>
  }
  <span class="state-actions">
    <ng-content />
  </span>
</div>
