@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

$main-button-block-size: calc(1rem + 2 * map.get(variables.$spacers-block, 4));
$main-button-margin: 1px;

:host {
  display: block;
  inline-size: auto;
}

.map {
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
}

:host::ng-deep {
  .ol-control {
    background-color: unset;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: variables.$si-sys-background-3;
      color: variables.$si-sys-text-accent;
      margin: 0;
      line-height: 1;
      border-radius: 0;
      inline-size: $main-button-block-size;
      block-size: $main-button-block-size;
      font-size: variables.$si-icon-font-size;
      outline: none;

      &:hover {
        color: variables.$si-sys-text-accent-hover;
        background: variables.$si-sys-background-accent-secondary-hover;
      }

      &:focus-visible {
        @include variables.make-outline-focus-inside();
      }

      + button {
        margin-block-start: $main-button-margin;
      }
    }
  }

  .ol-attribution,
  .ol-full-screen,
  .ol-zoom,
  .ol-zoom-extent {
    left: unset; // stylelint-disable-line property-layout-mappings
    right: unset; // stylelint-disable-line property-layout-mappings
    top: unset; // stylelint-disable-line property-layout-mappings
    bottom: unset; // stylelint-disable-line property-layout-mappings
  }

  .ol-zoom,
  .ol-zoom-extent {
    inset-inline-end: 0;
    inset-block-end: 0;
    padding-inline-end: map.get(variables.$spacers-inline, 4);
    padding-block-end: map.get(variables.$spacers-block, 4);
  }

  .ol-zoom {
    padding-block-end: calc(
      map.get(variables.$spacers-block, 4) + $main-button-margin + $main-button-block-size
    );
  }

  .ol-attribution {
    inset-inline-start: 0;
    inset-block-end: 0;
    padding: map.get(variables.$spacers-block, 4) map.get(variables.$spacers-inline, 4);

    button {
      inline-size: 1.5rem;
      block-size: 1.5rem;
      font-size: 1.5rem;
      border-radius: 50%;
    }
  }

  .ol-full-screen {
    inset-block-end: calc(
      map.get(variables.$spacers-block, 4) + 3 * $main-button-margin + 3 * $main-button-block-size
    );
    inset-inline-end: map.get(variables.$spacers-inline, 4);
  }

  // needed for RTL
  .ol-overlay-container {
    left: 0; // stylelint-disable-line property-layout-mappings
  }
}
