@use '@siemens/element-theme/src/styles/variables';
@use 'sass:map';
@use 'sass:math';

:host {
  display: inline-flex;
  vertical-align: middle;
  font-size: 1rem;
  border-radius: 100%;
  color: variables.$element-ui-2;
  border: 0;
  background: transparent;
  padding: 0;

  &:is(:hover, :active) {
    color: variables.$element-ui-1;
  }

  &:disabled {
    color: variables.$element-text-disabled;
  }
}
