@use '@siemens/element-theme/src/styles/variables/system-tokens';

:host {
  display: inline-flex;
  vertical-align: middle;
  font-size: 1rem;
  border-radius: 100%;
  color: system-tokens.$si-sys-text-secondary;
  border: 0;
  background: transparent;
  padding: 0;

  &:is(:hover, :active) {
    color: system-tokens.$si-sys-text-primary;
  }

  &:disabled {
    color: system-tokens.$si-sys-text-disabled;
  }
}
