@use '@siemens/element-theme/src/styles/variables';

svg {
  inline-size: 1em;
  block-size: 1em;
  fill: variables.$si-sys-text-primary;

  &.none,
  &.none .inactive {
    fill: variables.$si-sys-text-danger;
  }

  .inactive {
    fill: variables.$si-sys-text-disabled;
  }
}
