@use '@siemens/element-theme/src/styles/variables';

.breadcrumb {
  flex-wrap: nowrap;
}

.item {
  display: flex;
  align-items: center;
}

.separator {
  color: variables.$si-sys-text-secondary;
  margin-block: 0;
  margin-inline: 0;
}

.disable-router-link,
.disable-router-link:hover {
  pointer-events: none;
  color: variables.$si-sys-text-disabled;
}
