@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

$status-bar-padding-block: map.get(variables.$spacers-block, 4);
$status-bar-padding-inline: map.get(variables.$spacers-inline, 4);
$status-bar-padding-block-small: map.get(variables.$spacers-block, 1);

$blink-transition-duration: variables.$element-default-transition-duration;

:host {
  display: block;
  position: relative;

  ::ng-deep {
    .blink {
      transition: color $blink-transition-duration;
    }

    .bg {
      transition: opacity $blink-transition-duration;
    }
  }
}

.pulse-off ::ng-deep .bg {
  opacity: 0.1 !important; // stylelint-disable-line declaration-no-important
}

.status-bar-wrapper {
  padding-inline: $status-bar-padding-inline;
  background-color: variables.$si-sys-background-1;

  > * {
    display: flex;
  }
}

.mobile-spacer {
  margin-block: map.get(variables.$spacers-block, 2);
  margin-inline: 0;
  background: variables.$si-sys-background-0;
  block-size: 1px;
}

.bar-item {
  margin-block: $status-bar-padding-block;
}

.custom-content {
  margin-inline-start: auto; // put it on the right (in LTR)
}

.clickable {
  cursor: pointer;
}

.mute-padding {
  padding-inline-end: calc(
    1lh + 2 * map.get(variables.$spacers-inline, 5) + map.get(variables.$spacers-inline, 3)
  );
}

.mobile-mute {
  position: absolute;
  inset-inline-end: $status-bar-padding-inline;
}

.main-content .mute-button {
  margin-inline-end: map.get(variables.$spacers-inline, 2);
}

.collapse-expand {
  background-color: variables.$si-sys-background-1;
  border: 0;
  border-end-start-radius: 2rem;
  border-end-end-radius: 2rem;
  inline-size: calc(1.5rem + 2 * map.get(variables.$spacers-inline, 4));
  color: variables.$si-sys-text-accent;
  cursor: pointer;

  &.expanded {
    box-shadow: variables.$si-sys-effects-shadow-2;

    si-icon {
      transform: rotate(180deg);
    }
  }

  si-icon {
    margin-block-start: 0;
    transition: transform variables.element-transition-duration(0.4s);
  }
}

.compact {
  .bar-item {
    margin-block: $status-bar-padding-block-small;
  }
}

.responsive {
  si-status-bar-item {
    --__si-status-bar-item-min-width: 0;
    overflow: hidden;
    flex-shrink: 1;
  }

  &.expanded {
    position: absolute;
    inset-block-start: 0;
    inset-inline: 0;
    z-index: variables.$zindex-statusbar;
  }

  .status-bar-wrapper {
    > .main-content {
      display: block;
      transition: max-block-size variables.$element-default-transition-duration;
    }
  }
}
