@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
  width: 42px;
  height: 42px;
  color: variables.$element-ui-3;

  &[data-status='default'] {
    color: variables.$element-ui-0;
  }

  &[data-status='success'] {
    color: variables.$element-status-success;
  }

  &[data-status='info'] {
    color: variables.$element-status-information;
  }

  &[data-status='warning'] {
    color: variables.$element-status-warning;
  }

  &[data-status='danger'] {
    color: variables.$element-status-danger;
  }

  &[data-status='caution'] {
    color: variables.$element-status-caution;
  }

  &[data-status='critical'] {
    color: variables.$element-status-critical;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  .icon {
    fill: currentColor;
  }

  .middle {
    fill: variables.$element-base-1;
  }

  .symbol {
    fill: variables.$element-text-primary;
  }
}
