@use '@siemens/element-theme/src/styles/bootstrap/variables';

.text-truncate {
  flex: 0 1 auto;
}

.heading {
  min-inline-size: 0;
  overflow: hidden;
}

.cab {
  flex: 1 0 0;
  min-inline-size: calc(1lh + 2 * variables.$card-cap-padding-y);
}
