@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

.about-branding {
  padding-block: map.get(variables.$spacers-block, 4);
  padding-inline: map.get(variables.$spacers-inline, 6);
  border-block-end: 1px solid variables.$si-sys-border-4;
}

.app-icon {
  font-size: 150px;
}

iframe {
  border-style: none;
  min-block-size: 500px;
  margin-block-end: -5px;
}

pre {
  word-break: break-word;
  white-space: pre-wrap;
}
