<div
  role="button"
  [class]="`collapsible-header focus-inside px-6 ${headerCssClasses()}`"
  [attr.tabindex]="disabled() ? '' : '0'"
  [id]="headerId"
  [class.open]="opened()"
  [class.disabled]="disabled()"
  [title]="hcollapsed() ? (heading() | translate) : ''"
  [aria-expanded]="opened() && !hcollapsed()"
  [aria-disabled]="disabled()"
  [aria-controls]="controlId"
  [aria-label]="hcollapsed() ? (heading() | translate) : ''"
  (keydown)="keydown($event)"
  (click)="doToggle($event)"
>
  @let headerIcon = icon();
  @if (headerIcon) {
    <si-icon class="icon ms-n2 me-2" [icon]="headerIcon" [class.collapsed-icon]="isHCollapsible" />
  }
  @if (icon() && badge() !== undefined && badge() !== '') {
    <span class="badge-text">
      {{ badge() }}
    </span>
  }
  <div class="si-h5 autohide">
    {{ heading() | translate }}
    <ng-content select="[si-panel-heading]" />
  </div>

  @if (badge() !== undefined && badge() !== '') {
    <span [class]="'badge autohide' + (badgeColor() ? ' bg-' + badgeColor() : '')">
      {{ badge() }}
    </span>
  }
  <span class="ms-auto overflow-hidden">
    <si-icon class="icon dropdown-caret" [icon]="icons.elementDown2" />
  </span>
</div>
<div
  #content
  role="region"
  [id]="controlId"
  [class]="`collapsible-content ${contentBgClasses()}`"
  [@showHide]="showHide"
  [aria-labelledby]="headerId"
  [class.full-height]="fullHeight()"
>
  @if (opened()) {
    <div>
      <div [class]="contentCssClasses()">
        <ng-content />
      </div>
    </div>
  }
</div>
