@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

:host {
  display: block;
  border: 1px solid variables.$si-sys-border-4;
  border-radius: variables.$element-radius-2;
  background: variables.$si-sys-background-1;
  padding: calc(map.get(variables.$spacers-block, 2) - 1px)
    calc(map.get(variables.$spacers-inline, 2) - 1px);
}

.status-toggle-container {
  position: relative;
  display: flex;
  gap: map.get(variables.$spacers-block, 1) map.get(variables.$spacers-inline, 1);
  inline-size: 100%;
  block-size: 100%;
  border-radius: variables.$element-radius-1;
  justify-content: space-around;
  z-index: 0;
  user-select: none;

  &.disabled {
    .toggle-draggable {
      display: none;
    }

    .status-toggle-item {
      color: variables.$si-sys-text-disabled;
    }
  }
}

.status-toggle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  color: variables.$si-sys-text-secondary;
  border-radius: 1px;
  cursor: pointer;
  padding-block: map.get(variables.$spacers-block, 1);

  &.active {
    color: variables.$si-sys-text-primary !important; // stylelint-disable-line declaration-no-important
  }

  &.disabled {
    cursor: default;
    color: variables.$si-sys-text-disabled !important; // stylelint-disable-line declaration-no-important
  }

  span {
    max-inline-size: 100%;
    user-select: none;
  }
}

.toggle-draggable {
  position: absolute;
  inset-block: 0;
  z-index: 1;
  cursor: pointer;

  &.animated {
    transition: all 0.4s ease;
  }
}

.visible-toggle-draggable {
  inline-size: 100%;
  block-size: 100%;
  border-radius: 1px;
  background: variables.$si-sys-background-active;
}
