@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

$ths-dot-size: 6px;

:host {
  --__si-direction-main: column;
  --__si-direction-option: row;
  --__si-direction-value: row;
  --__si-input-width: calc(var(--input-base-width, 90px) + var(--__si-buttons-width, 0px));

  &.horizontal {
    --__si-direction-main: row;
    --__si-direction-option: column;
    --__si-direction-value: column-reverse;
    --__si-value-margin: #{map.get(variables.$spacers, 8) * -1};
    padding-inline: calc(var(--__si-value-margin) * -1);
  }

  &.dec-inc-buttons {
    --__si-buttons-width: 48px;
  }
}

:host,
.ths-step {
  display: flex;
  flex-direction: var(--__si-direction-main);
}

.ths-option {
  flex-direction: var(--__si-direction-option);
  min-inline-size: var(--__si-option-width, 160px);
}

.ths-value {
  flex-direction: var(--__si-direction-value);
  margin-inline: var(--__si-value-margin);
}

si-select {
  border-radius: variables.$element-button-radius;
  overflow: hidden;
}

.form-control {
  inline-size: var(--__si-input-width);
  // This is a weird one. When zooming, it seems like `border-width` and relative `line-height` are scaled differently on inputs
  // Since the threshold needs correct size to keep the lines aligned, setting it to a fixed value here.
  block-size: calc(1rem + (map.get(variables.$spacers, 4) * 2));
  // Ensure the number input and its buttons are above other elements
  position: relative;
  z-index: 1;
}

.line {
  align-self: stretch;
  flex-basis: map.get(variables.$spacers, 6);
  display: flex;
  flex-direction: var(--__si-direction-main);
  align-items: center;
  color: variables.$element-ui-2;
  gap: map.get(variables.$spacers, 2);
}

.segment {
  flex: 1;
  border: 1px solid currentColor;
}

.dot {
  inline-size: $ths-dot-size;
  block-size: $ths-dot-size;
  border: 1px solid variables.$element-ui-2;
  border-radius: 50%;
}

.startend {
  inline-size: calc(var(--__si-input-width) / 2);
}
