<button
  #colorInputBox
  #trigger="cdkOverlayOrigin"
  cdkOverlayOrigin
  class="input-color-box"
  type="button"
  [class.is-open]="isOverlayOpen()"
  [attr.aria-label]="
    ariaLabel() ? (ariaLabel() | translate: { color: color() ?? '' }) : (color() ?? null)
  "
  [disabled]="disabled()"
  (keydown.arrowDown)="openOverlay()"
  (blur)="blur()"
  (click)="openOverlay()"
>
  <div class="inside-box" [style.background-color]="'var(--' + color() + ')'"></div>
</button>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOverlayOpen()"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  (backdropClick)="overlayDetach()"
  (detach)="overlayDetach()"
>
  <div
    #colorPaletteRef
    ngGrid
    selectionMode="explicit"
    colWrap="continuous"
    class="colors elevation-1 rounded-2 bg-base-1 p-4 mt-1 d-flex flex-column gap-4"
    [enableSelection]="true"
    (keydown.tab)="overlayDetach()"
  >
    @for (row of colorRows(); track $index) {
      <div ngGridRow class="colors-row gap-4">
        @for (paint of row; track paint.value) {
          <div
            ngGridCell
            class="color-box"
            [attr.aria-label]="paint.value"
            [style.background]="'var(--' + paint.value + ')'"
            [(selected)]="paint.selected"
            (selectedChange)="selectColor(paint.value)"
          >
            @if (color() === paint.value) {
              <si-icon class="icon text-inverse p-1" [icon]="icons.elementOk" />
            }
          </div>
        }
      </div>
    }
  </div>
</ng-template>
