<div class="si-layout-fixed-height mb-8 mx-0 overflow-auto px-2 pt-2">
  @if (view() === 'list') {
    <div class="si-layout-fixed-height">
      <div class="mx-0 d-flex">
        <si-search-bar
          class="w-100"
          colorVariant="base-1"
          showIcon="true"
          [placeholder]="searchPlaceholder() | translate"
          [value]="searchTerm"
          (searchChange)="onSearch($event)"
        />
      </div>
      <div class="si-layout-fixed-height text-pre-wrap text-break mt-6">
        @if (filteredWidgetCatalog.length > 0) {
          <span id="widget-catalog-list-description" class="visually-hidden">
            {{ labelWidgetCatalogList | translate }}
          </span>
          <div class="card overflow-auto">
            <ul
              class="list list-divider"
              aria-labelledby="widget-catalog-list-description"
              cdkListbox
              [cdkListboxValue]="selectedWidgets()"
              [cdkListboxMultiple]="multiSelect()"
              (cdkListboxValueChange)="selectWidgets($event.value)"
            >
              @for (widget of filteredWidgetCatalog; track $index) {
                @let widgetState = widgetStates().get(widget.id);
                @let isSelected = !widgetState?.disabled && selectedWidgets().includes(widget);
                <li
                  class="list-item list-item-action"
                  [cdkOption]="widget"
                  [cdkOptionDisabled]="widgetState?.disabled ?? false"
                  [class.active]="isSelected"
                >
                  @if (multiSelect()) {
                    <input
                      type="checkbox"
                      class="form-check-input list-item-check"
                      aria-hidden="true"
                      tabindex="-1"
                      inert
                      [checked]="isSelected"
                      [disabled]="widgetState?.disabled"
                    />
                  }
                  <si-icon
                    class="list-item-indicator icon"
                    [class.text-disabled]="widgetState?.disabled"
                    [icon]="widget.iconClass || icons.elementSpecialObject"
                  />
                  <span class="list-item-title text-truncate">{{ widget.name | translate }}</span>
                  @if (widgetState?.badge; as badge) {
                    <si-badge
                      class="list-item-primary-action"
                      [type]="widgetState?.added ? 'default' : 'info'"
                      >{{ badge | translate }}</si-badge
                    >
                  }
                  @if (widget.description?.trim(); as description) {
                    <p class="list-item-description">{{ description | translate }}</p>
                  }
                </li>
              }
            </ul>
          </div>
        } @else {
          <div>
            <si-empty-state
              icon="element-search"
              [heading]="labelEmpty"
              [content]="searchTerm ? labelEmptyMessage : undefined"
            />
          </div>
        }
      </div>
    </div>
  }
  <ng-container #editorHost />
</div>

<div class="catalog-footer pb-4 px-2">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">{{
    labelCancel | translate
  }}</button>
  @if (showPreviousButton()) {
    <button type="button" class="btn btn-secondary" (click)="onPrevious()">{{
      labelPrevious | translate
    }}</button>
  }
  @if (showNextButton()) {
    <button
      type="button"
      class="btn"
      [class.btn-primary]="view() === 'list'"
      [class.btn-secondary]="view() !== 'list'"
      [disabled]="disableNextButton()"
      (click)="onNext()"
      >{{ labelNext | translate }}</button
    >
  }
  @if (showAddButton()) {
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="disableAddButton()"
      (click)="onAddWidget()"
      >{{ labelAdd | translate }}</button
    >
  }
</div>
