@use '../variables/semantic-tokens';
@use '../variables/si-vars';

@use 'sass:math';
// so that @extend works
@use '../bootstrap/reboot';

$si-link-icon-size: math.div(16em, 14);
$si-link-icon-line-height: math.div(14em, 16);
$si-link-icon-spacing: math.div(4em, 16);

a:active {
  color: semantic-tokens.$element-action-primary-active;
  text-decoration: underline;
}

.link {
  @extend a;
}

.link-text {
  @extend a;
  text-decoration: underline;
}

.link-icon {
  font-size: si-vars.$si-icon-font-size-sm !important; // stylelint-disable-line declaration-no-important
  line-height: $si-link-icon-line-height !important; // stylelint-disable-line declaration-no-important
  margin-block-start: -(math.div(16em - 14em, 2 * 16) + math.div(2.5em, 16));
  margin-block-end: math.div(16em - 14em, -2 * 16);
  vertical-align: middle;
}
