@use 'sass:map';

@use '../variables';
@use '../bootstrap/buttons' as buttons;

@use './markdown-hljs-theme';

.markdown-content {
  max-inline-size: 100%;
  min-inline-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  strong {
    font-weight: variables.$si-font-weight-semibold;
  }

  code {
    color: variables.$element-text-primary;
    background-color: variables.$element-base-1-hover;
    padding-block: map.get(variables.$spacers, 1);
    padding-inline: map.get(variables.$spacers, 2);
    border-radius: variables.$element-radius-1;
    font-family:
      'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }

  ul,
  ol {
    max-inline-size: 100%;
    overflow-wrap: break-word;

    li:first-child {
      margin-block-start: 0;
    }

    li:last-child {
      margin-block-end: 0;
    }
  }

  li {
    margin-block: map.get(variables.$spacers, 2);
    max-inline-size: 100%;
    overflow-wrap: break-word;
  }

  .code-wrapper {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-block: map.get(variables.$spacers, 4);
    background-color: transparent;
    border: 1px solid variables.$element-ui-4;
    border-radius: variables.$element-radius-2;
    overflow: hidden;
  }

  .code-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: map.get(variables.$spacers, 4);
    padding-block: map.get(variables.$spacers, 5);
    padding-inline: map.get(variables.$spacers, 6);
    padding-block-end: 0;
  }

  .code-language {
    font-weight: variables.$si-font-weight-semibold;
  }

  pre {
    background-color: transparent;
    padding-block: map.get(variables.$spacers, 5);
    padding-inline: map.get(variables.$spacers, 6);
    border-radius: 0;
    vertical-align: middle;
    overflow-x: auto;
    margin-inline: 0;
    margin-block: 0;
    inline-size: 100%;
    font-size: variables.$si-font-size-caption;
    box-sizing: border-box;

    code {
      vertical-align: middle;
      background-color: transparent;
      padding-block: 0;
      padding-inline: 0;
      border-radius: 0;
    }

    p {
      margin-block: 0;
    }
  }

  .copy-code-btn {
    display: inline-flex;
    align-items: center;
    gap: map.get(variables.$spacers, 2);
    margin-inline-start: auto;
    padding-block: map.get(variables.$spacers, 1);
    padding-inline: map.get(variables.$spacers, 2);
  }

  .copy-code-btn .icon {
    margin-block: 0;
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-inline-start: 4px solid variables.$element-ui-3;
    padding-inline-start: map.get(variables.$spacers, 4);

    p {
      margin-block-end: 0;
    }
  }

  > *:first-child {
    // stylelint-disable-next-line declaration-no-important
    margin-block-start: 0 !important;
  }

  > *:last-child {
    // stylelint-disable-next-line declaration-no-important
    margin-block-end: 0 !important;

    &.code-wrapper > pre {
      // stylelint-disable-next-line declaration-no-important
      margin-block-end: 0 !important;
    }

    &.table-wrapper > table {
      // stylelint-disable-next-line declaration-no-important
      margin-block-end: 0 !important;
    }
  }

  .table-wrapper {
    position: relative;
    inline-size: max-content;
    max-inline-size: 100%;
    margin-block-start: map.get(variables.$spacers, 6);
    margin-block-end: map.get(variables.$spacers, 6);
  }

  .download-table-btn {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    border-start-start-radius: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    z-index: 1;
  }

  table {
    inline-size: max-content;
    max-inline-size: 100%;
    // stylelint-disable-next-line declaration-no-important
    margin-block-start: 0 !important;
    // stylelint-disable-next-line declaration-no-important
    margin-block-end: 0 !important;
    overflow: auto;
    display: block;
    white-space: nowrap;

    ul,
    ol {
      // stylelint-disable-next-line declaration-no-important
      padding-inline-start: map.get(variables.$spacers, 6) !important;
    }
  }

  table td,
  table th {
    max-inline-size: 200px;
    overflow: hidden;
    text-overflow: ellipsis;

    *:last-child {
      // stylelint-disable-next-line declaration-no-important
      margin-block-end: 0 !important;
    }
  }

  p {
    max-inline-size: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  img {
    max-inline-size: 100%;
    max-block-size: 400px;
    block-size: auto;
    inline-size: auto;
    object-fit: contain;
    display: block;
    margin-block: map.get(variables.$spacers, 4);
  }

  .latex-display-wrapper {
    display: flex;
    text-align: center;
    inline-size: max-content;
    block-size: max-content;
    overflow-y: visible;
    overflow-x: visible; // TODO: Support formulas wider than the container (currently not possible because it will create horizontal scrollbars)
    margin-block-end: map.get(variables.$spacers, 6);

    .katex-display {
      inline-size: max-content;
      overflow: visible;
      // stylelint-disable-next-line declaration-no-important
      box-sizing: content-box !important;
    }

    .katex,
    .katex * {
      // stylelint-disable-next-line declaration-no-important
      box-sizing: content-box !important;
    }
  }
}
