@use 'sass:map';
@use '../variables';

.markdown-content {
  max-inline-size: 100%;
  min-inline-size: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: variables.px-to-ratio(variables.px-to-rem(14px), 20px);

  strong {
    font-weight: variables.$si-font-weight-semibold;
  }

  :is(ul, ol) {
    max-inline-size: 100%;
    overflow-wrap: break-word;

    li:first-child {
      margin-block-start: 0;
    }

    li:last-child {
      margin-block-end: 0;
    }
  }

  li {
    margin-block: map.get(variables.$spacers-block, 2);
    max-inline-size: 100%;
    overflow-wrap: break-word;
  }

  .task-list-item {
    list-style: none;

    .form-check-input {
      margin-inline-start: calc(-1rem - map.get(variables.$spacers-inline, 2));
      margin-inline-end: map.get(variables.$spacers-inline, 2);
      vertical-align: text-bottom;
      pointer-events: none;
    }
  }

  pre {
    code {
      color: inherit;
      background-color: transparent;
      padding-block: 0;
      padding-inline: 0;
      border: 0;
      border-radius: 0;
    }

    p {
      margin-block: 0;
    }
  }

  em {
    font-style: italic;
  }

  blockquote {
    border-inline-start: 4px solid variables.$si-sys-border-4;
    padding-inline-start: map.get(variables.$spacers-inline, 4);

    p {
      margin-block-end: 0;
    }
  }

  > *:first-child {
    // stylelint-disable-next-line declaration-no-important
    margin-block-start: 0 !important;
  }

  > *:last-child {
    // stylelint-disable-next-line declaration-no-important
    margin-block-end: 0 !important;
  }

  table {
    inline-size: max-content;
    max-inline-size: 100%;
    align-self: stretch;
    margin-block-start: 0;
    margin-block-end: 0;
    display: table;
    table-layout: auto;
    white-space: nowrap;

    :is(ul, ol) {
      // stylelint-disable-next-line declaration-no-important
      padding-inline-start: map.get(variables.$spacers-inline, 6) !important;
    }

    td:last-child,
    th:last-child {
      inline-size: 100%;
    }
  }

  table td,
  table th {
    overflow: hidden;
    text-overflow: ellipsis;

    *:last-child {
      // stylelint-disable-next-line declaration-no-important
      margin-block-end: 0 !important;
    }
  }

  p {
    max-inline-size: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  img {
    max-inline-size: 100%;
    max-block-size: 400px;
    block-size: auto;
    inline-size: auto;
    object-fit: contain;
    display: block;
    margin-block: map.get(variables.$spacers-block, 4);
  }
}
