@use '../variables';

@use 'sass:map';

.pill {
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  background: var(--filter-pill-background-color, variables.$si-sys-background-0);
  padding-inline: map.get(variables.$spacers-inline, 4);
  max-inline-size: 100%;

  &.active {
    background: variables.$si-sys-background-selected;
  }

  &.pill-interactive {
    cursor: pointer;

    &:hover {
      background: variables.$si-sys-background-accent-secondary-hover;
    }
  }

  :is(.name, .value) {
    padding-block: map.get(variables.$spacers-block, 2);
  }
}

.pill-group {
  display: flex;
  gap: map.get(variables.$spacers-block, 1) map.get(variables.$spacers-inline, 1);

  .pill {
    border-radius: 0;

    &:first-child {
      border-start-start-radius: 0.75rem;
      border-end-start-radius: 0.75rem;
    }

    &:last-child {
      border-start-end-radius: 0.75rem;
      border-end-end-radius: 0.75rem;
    }
  }
}
