@use '../variables';

@use 'sass:map';

$si-switch-size: 1.25rem !default;
$si-switch-inline-size: calc(2 * #{$si-switch-size});
$si-switch-inline-spacing: calc($si-switch-inline-size + map.get(variables.$spacers, 4));
$si-switch-background-off-color: variables.$element-ui-4 !default;
$si-switch-background-on-color: variables.$element-ui-0 !default;
$si-switch-background-disabled-color: variables.$element-ui-3 !default;
$si-switch-slider-margin: 0.25rem !default;
$si-switch-slider-off-color: variables.$element-ui-2 !default;
$si-switch-slider-on-color: variables.$element-ui-5 !default;
$si-switch-transition-length: variables.element-transition-duration(0.4s) !default;

$si-switch-knob-size: calc(#{$si-switch-size} - 2 * #{$si-switch-slider-margin});

.form-switch {
  padding-block: map.get(variables.$spacers, 1);
  padding-inline-start: $si-switch-inline-spacing;

  .form-check-input {
    cursor: pointer;
    inset: 0;
    margin-block: -0.125rem;
    margin-inline-start: calc(-1 * $si-switch-inline-spacing);
    inline-size: $si-switch-inline-size !important; // stylelint-disable-line declaration-no-important
    block-size: #{$si-switch-size} !important; // stylelint-disable-line declaration-no-important
    background-color: variables.$element-base-1;
    transition: $si-switch-transition-length;
    border: 1px solid variables.$element-ui-2;
    border-radius: #{$si-switch-size};
    appearance: none;

    &::before {
      position: absolute;
      content: '';
      block-size: $si-switch-knob-size !important; // stylelint-disable-line declaration-no-important
      inline-size: $si-switch-knob-size !important; // stylelint-disable-line declaration-no-important
      inset-inline-start: calc(#{$si-switch-slider-margin} - 1px);
      inset-block-end: calc(#{$si-switch-slider-margin} - 1px);
      background-color: variables.$element-text-secondary;
      transition: $si-switch-transition-length;
      border-radius: 50%;
    }

    &::after {
      display: none;
    }

    &:hover {
      background-color: variables.$element-base-1-hover;
    }

    &:is(:checked, .checked) {
      background-color: variables.$element-action-primary;

      &:hover {
        background-color: variables.$element-action-primary-hover;
      }

      &:active {
        background-color: variables.$element-action-primary-active;
      }

      &:is(:disabled, .disabled) {
        background-color: variables.$element-action-primary;
        border-color: variables.$element-action-primary;
      }
    }

    &:is(:disabled, .disabled) {
      cursor: default;
      opacity: 0.5;
    }

    &:is(:checked, .checked)::before {
      inset-inline-start: calc(#{$si-switch-slider-margin} + #{$si-switch-size} - 1px);
      background-color: $si-switch-slider-on-color;
    }
  }
}
