@charset "UTF-8";
@use 'sass:map';
// MapLibre GL CSS
@use 'maplibre-gl/dist/maplibre-gl.css';

@use '@siemens/element-ng/element-ng';
@use '@siemens/element-theme/src/styles/variables/spacers';
@use '@siemens/element-theme/src/styles/variables/semantic-tokens';
@use '@siemens/element-theme/src/styles/variables/utilities';
@use '@siemens/live-preview/styles/live-preview';

// Seems like an esbuild problem what we need to solve here.
// Without this flag-icon would emit two icons with the same name although they are located in different directories.
// Webpack could handle this, esbuild cannot.
@use 'flag-icons/sass/flag-icons' with (
  $flag-icons-use-square: false
);

@use '@simpl/brand/assets/fonts/styles/siemens-sans';

@use '@simpl/brand/dist/element-theme-siemens-brand-light' as brand-light;
@use '@simpl/brand/dist/element-theme-siemens-brand-dark' as brand-dark;

@use '@siemens/element-theme/src/theme' with (
  $element-theme-default: 'siemens-brand',
  $element-themes: (
    'siemens-brand',
    'element'
  )
);

@use '@simpl/element-icons/dist/style/simpl-element-icons';

@use '@siemens/element-theme/src/styles/themes';
// OpenLayers styling
@use 'ol/ol.css';
@include themes.make-theme(brand-light.$tokens, 'siemens-brand');
@include themes.make-theme(brand-dark.$tokens, 'siemens-brand', true);

app-sample {
  block-size: 100%;
  display: block;
}

body {
  overscroll-behavior: none;
}

.code-preview {
  border: 1px solid semantic-tokens.$element-ui-4;
  border-radius: semantic-tokens.$element-radius-2;
  padding: map.get(spacers.$spacers, 4);
}

.sortable-item {
  margin-block-end: map.get(spacers.$spacers, 2);
}

// Padding around "app-sample", move into examples
si-live-preview-webcomponent > div {
  padding: 12px;
}
