@use 'sass:map';

@use '@siemens/element-theme/src/styles/variables';

:host {
  --__si-animation-duration: #{variables.element-transition-duration(0.25s)};
  --__si-animation-delay: calc(var(--__si-animation-duration) / 2);
}

.login-basic-second-step--container,
.login-basic-next-button--container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows var(--__si-animation-duration) ease;

  &.active {
    grid-template-rows: 1fr;

    .login-basic-second-step--content,
    .login-basic-next-button {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }

    .login-basic-next-button {
      margin-block-start: map.get(variables.$spacers, 4);
    }
  }
}

.toggle-content-transition {
  min-block-size: 0;
  transition:
    opacity var(--__si-animation-duration) var(--__si-animation-delay) ease-in,
    transform var(--__si-animation-duration) var(--__si-animation-delay) ease-out;
  visibility: hidden;
  opacity: 0;
}

.login-basic-second-step--content {
  @extend .toggle-content-transition;
  transform: translateY(map.get(variables.$spacers, 3) * -1);
}

.login-basic-next-button {
  @extend .toggle-content-transition;
  margin-block-start: 0;
  transform: translateY(map.get(variables.$spacers, 3));
  transition: margin var(--__si-animation-duration) ease;
}
