@use 'sass:map';
@use '@siemens/element-theme/src/styles/variables';

:host {
  background-color: variables.$si-sys-background-1;
  flex: auto;
  overflow: hidden;
}

div {
  block-size: 100%;
  padding-inline: map.get(variables.$spacers-inline, 6) map.get(variables.$spacers-inline, 4);
  overflow-y: auto;
  overflow-x: hidden;
}
