@use './animations';

// Custom variables
$si-caret-transition-duration: animations.element-transition-duration(0.4s);
$si-icon-font-size: 1.25rem;
$si-icon-font-size-sm: 1rem;
$si-icon-font-size-lg: 1.5rem;

$btn-width-normal: 80px;

// Component styling
$si-application-header-height: 48px;

$si-titlebar-height: 36px;
$si-system-banner-height: 20px;

// allows adding a custom titlebar on top
// stylelint-disable-next-line length-zero-no-unit
$si-titlebar-spacing: var(--element-titlebar-spacing, 0px);
$si-system-banner-spacing: var(--element-system-banner-spacing, 0px);
