@use 'sass:map';

$spacers-inline: (
  0: 0,
  1: var(--si-sys-sizing-spacing-x-10),
  2: var(--si-sys-sizing-spacing-x-20),
  3: var(--si-sys-sizing-spacing-x-30),
  4: var(--si-sys-sizing-spacing-x-40),
  5: var(--si-sys-sizing-spacing-x-50),
  6: var(--si-sys-sizing-spacing-x-60),
  7: var(--si-sys-sizing-spacing-x-70),
  8: var(--si-sys-sizing-spacing-x-80),
  9: var(--si-sys-sizing-spacing-x-90),
  10: var(--si-sys-sizing-spacing-x-100),
  11: var(--si-sys-sizing-spacing-x-110),
  12: var(--si-sys-sizing-spacing-x-120),
  13: var(--si-sys-sizing-spacing-x-130),
  14: var(--si-sys-sizing-spacing-x-140)
);

$spacers-block: (
  0: 0,
  1: var(--si-sys-sizing-spacing-y-10),
  2: var(--si-sys-sizing-spacing-y-20),
  3: var(--si-sys-sizing-spacing-y-30),
  4: var(--si-sys-sizing-spacing-y-40),
  5: var(--si-sys-sizing-spacing-y-50),
  6: var(--si-sys-sizing-spacing-y-60),
  7: var(--si-sys-sizing-spacing-y-70),
  8: var(--si-sys-sizing-spacing-y-80),
  9: var(--si-sys-sizing-spacing-y-90),
  10: var(--si-sys-sizing-spacing-y-100),
  11: var(--si-sys-sizing-spacing-y-110),
  12: var(--si-sys-sizing-spacing-y-120),
  13: var(--si-sys-sizing-spacing-y-130),
  14: var(--si-sys-sizing-spacing-y-140)
);

@function negative-spacer-map($spacers) {
  $negative-spacers: ();

  @each $key, $spacer in $spacers {
    @if $key != 0 {
      $negative-spacers: map.set($negative-spacers, $key, calc(#{$spacer} * -1));
    }
  }

  @return $negative-spacers;
}

$negative-spacers-inline: negative-spacer-map($spacers-inline);
$negative-spacers-block: negative-spacer-map($spacers-block);

// @deprecated: Those are for compatibility and will go away with v52
$spacer: 16px;
$spacers: $spacers-block;
