@mixin si-font($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@function pxToRem($value) {
  @return $value;
}

$si-font-family: 'Siemens Sans', sans-serif;

$si-font-weight-lighter: lighter !default;
$si-font-weight-light: 300 !default;
$si-font-weight-normal: normal !default;
$si-font-weight-semibold: 600 !default;
$si-font-weight-bold: 700 !default;
$si-font-weight-bolder: bolder !default;
$si-font-weight-black: 900 !default;

$si-font-size-h1: pxToRem(30px);
$si-line-height-h1: 1.2;
$si-font-weight-h1: $si-font-weight-normal;

$si-font-size-h1-black: $si-font-size-h1;
$si-line-height-h1-black: $si-line-height-h1;
$si-font-weight-h1-black: $si-font-weight-bold;

$si-font-size-h2: pxToRem(20px);
$si-line-height-h2: 1.21;
$si-font-weight-h2: $si-font-weight-semibold;

$si-font-size-h3: pxToRem(18px);
$si-line-height-h3: 1.34;
$si-font-weight-h3: $si-font-weight-semibold;

$si-font-size-title-1-bold: pxToRem(16px);
$si-line-height-title-1-bold: 1.12;
$si-font-weight-title-1-bold: $si-font-weight-bold;

$si-font-size-title-1: pxToRem(16px);
$si-line-height-title-1: 1.22;
$si-font-weight-title-1: $si-font-weight-semibold;

$si-font-size-body-1: pxToRem(16px);
$si-line-height-body-1: 1.22;
$si-font-weight-body-1: $si-font-weight-normal;

$si-font-size-title-2-bold: pxToRem(14px);
$si-line-height-title-2-bold: 1.12;
$si-font-weight-title-2-bold: $si-font-weight-bold;

$si-font-size-title-2: pxToRem(14px);
$si-line-height-title-2: 1.12;
$si-font-weight-title-2: $si-font-weight-semibold;

$si-font-size-body-2: pxToRem(14px);
$si-line-height-body-2: 1.12;
$si-font-weight-body-2: $si-font-weight-normal;

$si-font-size-caption-1: pxToRem(12px);
$si-line-height-caption-1: 1.12;
$si-font-weight-caption-1: $si-font-weight-normal;

$si-font-size-display-1: pxToRem(56px);
$si-line-height-display-1: 1.28;
$si-font-weight-display-1: $si-font-weight-normal;

$si-font-size-display-2: pxToRem(48px);
$si-line-height-display-2: 1.33;
$si-font-weight-display-2: $si-font-weight-normal;

$si-font-size-display-3: pxToRem(40px);
$si-line-height-display-3: 1.3;
$si-font-weight-display-3: $si-font-weight-bold;

$si-font-size-display-4: pxToRem(40px);
$si-line-height-display-4: 1.3;
$si-font-weight-display-4: $si-font-weight-normal;
