<!--Block the space if no form-field is provided. Otherwise it looks weird in the formly field inline representation.-->
@if (fieldControl()?.isFormCheck && !fieldset) {
  <div class="form-label"></div>
}
@if (fieldControl()?.isFormCheck) {
  <div class="form-item-content">
    <ng-container [ngTemplateOutlet]="checkbox" />
    <ng-container [ngTemplateOutlet]="content" />
    <ng-container [ngTemplateOutlet]="description" />
    <ng-container [ngTemplateOutlet]="invalid" />
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="description" />
  <div class="form-item-content">
    <ng-container [ngTemplateOutlet]="content" />
    <ng-container [ngTemplateOutlet]="invalid" />
  </div>
}

<ng-template #description>
  @if (label()) {
    @let labeledBy = formItemLabelledBy;
    @if (labeledBy) {
      <span
        class="text-break"
        [id]="labeledBy"
        [class.form-label]="!fieldControl()?.isFormCheck"
        [class.form-check-label]="fieldControl()?.isFormCheck"
        [class.required]="required() && !this.fieldset?.hasOnlyRadios()"
        >{{ label()! | translate }}</span
      >
    } @else {
      <label
        class="text-break"
        [for]="formItemId"
        [class.form-label]="!fieldControl()?.isFormCheck"
        [class.form-check-label]="fieldControl()?.isFormCheck"
        [class.required]="required() && !this.fieldset?.hasOnlyRadios()"
        >{{ label()! | translate }}</label
      >
    }
  }
</ng-template>
<ng-template #invalid>
  @if (printErrors() && !fieldset?.hasOnlyRadios()) {
    <div class="invalid-feedback" [attr.id]="formItemErrormessageId">
      @for (error of errors(); track error.key) {
        <div>
          {{ error.message | translate: error.params }}
        </div>
      }
    </div>
  }
</ng-template>
<ng-template #checkbox>
  <ng-content select="input[type='checkbox'], input[type='radio']" />
</ng-template>
<ng-template #content>
  <ng-content />
</ng-template>
