<div
  class="form-item-content"
  [class.sub]="fieldset"
  [class.form-check]="fieldControl()?.isFormCheck && !fieldset?.inline()"
>
  <!--Block the space if no form-field is provided. Otherwise it looks weird.-->
  @if (!label() && !fieldControl()?.isFormCheck) {
    <div></div>
  }
  <ng-container *ngTemplateOutlet="checkbox" />
  @if (label()) {
    @let labeledBy = formItemLabelledBy;
    @if (labeledBy) {
      <span
        class="text-break"
        [class.form-check-label]="fieldControl()?.isFormCheck"
        [class.form-label]="!fieldControl()?.isFormCheck"
        [id]="labeledBy"
        [class.required]="required() && !this.fieldset?.hasOnlyRadios()"
        >{{ label()! | translate }}</span
      >
    } @else {
      <label
        class="text-break"
        [class.form-check-label]="fieldControl()?.isFormCheck"
        [class.form-label]="!fieldControl()?.isFormCheck"
        [for]="formItemId"
        [class.required]="required() && !this.fieldset?.hasOnlyRadios()"
        >{{ label()! | translate }}</label
      >
    }
  }
  <ng-container [ngTemplateOutlet]="content" />
  @if (printErrors() && !fieldset?.hasOnlyRadios()) {
    <div class="invalid-feedback" [attr.id]="formItemErrormessageId">
      @for (error of errors(); track error.key) {
        <div>
          {{ error.message | translate: error.params }}
        </div>
      }
    </div>
  }
</div>

<ng-template #checkbox>
  <ng-content select="input[type='checkbox'], input[type='radio']" />
</ng-template>
<ng-template #content>
  <ng-content />
</ng-template>
