name: Next Release
on:
  workflow_dispatch:

# This must only be called from the next branch.
# While one may think that calling from main should work, it does not.
# The reason is only known to gh actions.
# It seems like git objects are not fetched when calling from main, leading to semantic release not being able to resolve branch names.

jobs:
  # This ensures that the next branch is update to date with main.
  update-next:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: next # IMPORTANT! We ignore the actual branch. Enforcing the next branch for next releases.
          fetch-depth: 0 # semantic-release needs this
          token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }} # Otherwise, branch protection rules are not bypassed.
      - name: update next branch
        run: |
          git merge origin/main --ff-only --quiet
          git push origin next

  build-and-test:
    needs:
      - update-next
    uses: ./.github/workflows/build-and-test.yaml
    secrets:
      SIEMENS_NPM_TOKEN: ${{ secrets.SIEMENS_NPM_TOKEN }}
      SIEMENS_NPM_USER: ${{ secrets.SIEMENS_NPM_USER }}
      MAPTILER_KEY: ${{ secrets.MAPTILER_KEY }}

  publish:
    runs-on: ubuntu-24.04
    needs:
      - build-and-test
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: next # IMPORTANT! We ignore the actual branch. Enforcing the next branch for next releases.
          fetch-depth: 0 # semantic-release needs this
          token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }} # Otherwise, branch protection rules are not bypassed.
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: '1.3.5'
      - uses: actions/download-artifact@v7
        with:
          name: dist
          path: dist
      - run: |
          rm .npmrc
          echo '[install.scopes]' >> bunfig.toml
          echo '"@simpl" = { token = "$SIEMENS_NPM_TOKEN", url = "https://code.siemens.com/api/v4/packages/npm/" }' >> bunfig.toml
      - uses: actions/cache/restore@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun
      - run: bun install --prefer-offline --no-audit
        env:
          SIEMENS_NPM_TOKEN: ${{ secrets.SIEMENS_NPM_TOKEN }}
      - run: bunx --bun semantic-release
        env:
          SKIP_COMMIT: 'true' # Next releases should not have a commit
          GIT_AUTHOR_NAME: 'Siemens Element Bot'
          GIT_AUTHOR_EMAIL: 'simpl.si@siemens.com'
          GIT_COMMITTER_NAME: 'Siemens Element Bot'
          GIT_COMMITTER_EMAIL: 'simpl.si@siemens.com'
          GITHUB_TOKEN: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }}
