name: Next Release
on:
  workflow_dispatch:

jobs:
  # This ensures that the next branch is update to date with main.
  update-next:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          ref: next # IMPORTANT! We ignore the actual branch. Enforcing the next branch for next releases.
          fetch-depth: 0 # semantic-release needs this
          token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }} # Otherwise, branch protection rules are not bypassed.
      - name: update next branch
        run: |
          git merge origin/main --ff-only --quiet
          git push origin next

  trigger-release:
    needs:
      - update-next
    runs-on: ubuntu-24.04
    steps:
      - name: Dispatch release workflow on updated next
        uses: actions/github-script@v7
        with:
          # We must use the rest actions.
          # Otherwise, the workflow will not run on the updated ref.
          github-token: ${{ secrets.ELEMENT_BOT_GITHUB_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'release.yaml',
              ref: 'next',
            });
