@use '@siemens/element-theme/src/styles/all-variables';

$rpanel-width-regular: 390px;
$rpanel-width-wide: 500px;
$rpanel-width-extended-md: 480px;
$rpanel-width-extended-xl: 640px;
$rpanel-width-extended-xxl: 720px;
$rpanel-width-extended-xxxl: 912px;
$rpanel-transition-duration: all-variables.$element-default-transition-duration;
$rpanel-overlay-bg: rgba(0, 0, 0, 0.4);
$rpanel-collapsed-width: 48px;

@mixin rpanel-over-mode {
  padding-inline-end: var(--rpanel-collapsed-width);

  &:not(.rpanel-collapsed) .side-panel {
    box-shadow: all-variables.$element-elevation-2;
  }
}

:host {
  --rpanel-collapsed-padding: 0;
  --rpanel-size: #{$rpanel-width-regular};
  display: block;
  padding-inline-end: var(--rpanel-size);

  &.ready {
    transition: padding-inline-end $rpanel-transition-duration;

    .side-panel,
    .side-panel > .inner {
      transition:
        inline-size $rpanel-transition-duration,
        box-shadow $rpanel-transition-duration;
    }
  }

  .side-panel,
  .side-panel > .inner {
    inline-size: var(--rpanel-width-fullscreen, var(--rpanel-size));
  }

  &.collapsible,
  &.collapsible-temp {
    --rpanel-collapsed-width: #{$rpanel-collapsed-width};
  }

  &.rpanel-size--wide {
    --rpanel-size: #{$rpanel-width-wide};
  }

  &.rpanel-size--extended {
    --rpanel-size: 100%;
  }

  &.rpanel-fullscreen-overlay {
    --rpanel-width-fullscreen: 100vw;
  }

  &.rpanel-resize-sm,
  &.rpanel-resize-md,
  &.rpanel-resize-lg,
  &.rpanel-resize-xl,
  &.rpanel-resize-xxl,
  &.rpanel-resize-xxxl {
    &.rpanel-mode--over {
      @include rpanel-over-mode;
    }
  }

  &.rpanel-resize-md {
    &.rpanel-mode--scroll.rpanel-size--extended {
      @include rpanel-over-mode;
    }

    &.rpanel-size--extended {
      --rpanel-size: #{$rpanel-width-extended-md};
    }
  }

  &.rpanel-resize-lg {
    &.rpanel-mode--scroll.rpanel-size--wide {
      @include rpanel-over-mode;
    }

    &.rpanel-mode--scroll.rpanel-size--extended {
      @include rpanel-over-mode;
    }

    &.rpanel-size--extended {
      --rpanel-size: #{$rpanel-width-extended-md};
    }
  }

  &.rpanel-resize-xl {
    &.rpanel-size--extended {
      --rpanel-size: #{$rpanel-width-extended-xl};
    }
  }

  &.rpanel-resize-xxl {
    &.rpanel-size--extended {
      --rpanel-size: #{$rpanel-width-extended-xxl};
    }
  }

  &.rpanel-resize-xxxl {
    &.rpanel-size--extended {
      --rpanel-size: #{$rpanel-width-extended-xxxl};
    }
  }

  &.rpanel-resize-sm,
  &.rpanel-resize-md {
    &.rpanel-mode--scroll {
      @include rpanel-over-mode;
    }
  }

  &.rpanel-resize-sm {
    &.rpanel-size--extended {
      --fullscreen-button-display: none;
    }
  }

  &.rpanel-resize-xs {
    --fullscreen-button-display: none;

    &.rpanel-mode--over,
    &.rpanel-mode--scroll {
      padding-inline-end: var(--rpanel-collapsed-width);
    }

    .side-panel {
      z-index: all-variables.$zindex-sidepanel-responsive;
    }

    &:not(.rpanel-collapsed) {
      .side-panel {
        box-shadow: all-variables.$element-elevation-2;
      }

      .side-panel,
      .side-panel > .inner {
        inline-size: 100%;
      }
    }
  }

  &.rpanel-hidden:not(.collapsible) .side-panel {
    display: none;
  }

  &.rpanel-collapsed {
    padding-inline-end: var(--rpanel-collapsed-width);

    &:not(.collapsible) {
      .side-panel {
        inline-size: 0;
        overflow: hidden;
      }
    }

    &.collapsible {
      .side-panel {
        inline-size: var(--rpanel-collapsed-width);
        overflow: hidden;
      }
    }
  }
}

.side-panel {
  position: fixed;
  z-index: all-variables.$zindex-sidepanel;
  inset-block-start: calc(
    all-variables.$si-application-header-height + all-variables.$si-titlebar-spacing +
      all-variables.$si-system-banner-spacing
  );
  inset-block-end: 0;
  inset-inline-end: 0;
  overflow-x: hidden;
  background: all-variables.$element-base-1;

  > .inner {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
  }
}

@include all-variables.media-breakpoint-down(sm) {
  :host.enable-mobile {
    padding-inline-end: 0 !important; // stylelint-disable-line declaration-no-important
    --si-layout-header-first-element-offset-end: 40px;

    &.rpanel-collapsed .side-panel {
      inline-size: 0 !important; // stylelint-disable-line declaration-no-important
    }
  }
}
