<div class="rpanel-header pt-5">
  <p class="si-h5 my-0 ms-6 auto-hide text-truncate">{{ heading() | translate }}</p>
  @if ((primaryActions().length || secondaryActions().length) && focusable()) {
    <si-content-action-bar
      class="auto-hide ms-auto"
      viewType="expanded"
      [primaryActions]="primaryActions()"
      [secondaryActions]="secondaryActions()"
      [toggleItemLabel]="toggleItemLabel()"
    />
  }
  <div class="d-flex">
    @let navigateConfig = this.navigateConfig();
    @if (displayMode() === 'navigate' && navigateConfig) {
      @if (navigateConfig.type === 'router-link') {
        <a
          class="btn btn-circle btn-sm btn-ghost auto-hide"
          [class.ms-4]="collapsible()"
          [class.mx-4]="!collapsible() || service.isTemporaryOpen()"
          [routerLink]="navigateConfig.routerLink"
          [queryParams]="navigateConfig.extras?.queryParams"
          [queryParamsHandling]="navigateConfig.extras?.queryParamsHandling"
          [fragment]="navigateConfig.extras?.fragment"
          [state]="navigateConfig.extras?.state"
          [relativeTo]="navigateConfig.extras?.relativeTo ?? activatedRoute"
          [preserveFragment]="navigateConfig.extras?.preserveFragment"
          [skipLocationChange]="navigateConfig.extras?.skipLocationChange"
          [replaceUrl]="navigateConfig.extras?.replaceUrl"
          [aria-label]="navigateConfig.label | translate"
        >
          <si-icon class="icon" icon="element-export" />
          <span class="visually-hidden">
            {{ navigateConfig.label | translate }}
          </span></a
        >
      } @else if (navigateConfig.type === 'link') {
        <a
          class="btn btn-circle btn-sm btn-ghost auto-hide"
          [class.ms-4]="collapsible()"
          [class.mx-4]="!collapsible()"
          [href]="navigateConfig.href"
          [target]="navigateConfig.target"
          [attr.rel]="navigateConfig.target === '_blank' ? 'noopener noreferrer' : null"
          [aria-label]="navigateConfig.label | translate"
        >
          <si-icon class="icon" icon="element-export" />
          <span class="visually-hidden">
            {{ navigateConfig.label | translate }}
          </span></a
        >
      }
    }
    @if (displayMode() === 'overlay') {
      <button
        type="button"
        class="fullscreen-button btn btn-circle btn-sm btn-ghost auto-hide"
        [class.ms-4]="collapsible()"
        [class.mx-4]="!collapsible() || service.isTemporaryOpen()"
        [aria-label]="(isFullscreen() ? exitFullscreenLabel() : enterFullscreenLabel()) | translate"
        [tabindex]="focusable() ? '0' : '-1'"
        (click)="toggleFullscreen()"
      >
        <si-icon [icon]="isFullscreen() ? 'element-pinch' : 'element-zoom'" />
      </button>
    }
    <button
      type="button"
      class="close-button btn btn-circle btn-sm btn-ghost me-4"
      [aria-label]="closeButtonLabel() | translate"
      [tabindex]="focusable() ? '0' : '-1'"
      (click)="toggleSidePanel($event)"
    >
      <si-icon [icon]="icons.elementCancel" />
    </button>
    <div class="collapse-toggle">
      <button
        type="button"
        class="side-panel-collapse-toggle btn btn-circle btn-sm btn-ghost mx-4"
        [aria-label]="toggleItemLabel() | translate"
        (click)="toggleSidePanel($event)"
      >
        <si-icon
          class="flip-rtl"
          [class.badge-dot]="showMobileDrawerBadge()"
          [icon]="isCollapsed() ? icons.elementDoubleLeft : icons.elementDoubleRight"
        />
      </button>
    </div>
  </div>
</div>
<div class="rpanel-wrapper d-flex flex-column">
  @if (statusActions().length && focusable()) {
    <div class="rpanel-header rpanel-statusactions px-6">
      @for (dp of statusActions(); track $index) {
        @if (!dp.disabled) {
          <a
            class="rpanel-statusaction position-relative focus-inside"
            [aria-label]="!isCollapsed ? '' : (dp.title | translate)"
            [siLink]="dp"
          >
            <si-icon class="icon" [icon]="dp.icon!" />
            @if (dp.overlayIcon) {
              <si-icon class="icon position-absolute" [icon]="dp.overlayIcon" />
            }
            <span class="ms-2 auto-hide">{{ dp.title | translate }}</span>
          </a>
        } @else {
          <div class="rpanel-statusaction dot-outer" aria-hidden="true">
            <div class="dot text-muted text-center">&bull;</div>
          </div>
        }
      }
    </div>
  }
  @if (searchable() && focusable()) {
    <div class="nav-search px-6 auto-hide">
      <si-search-bar
        #searchBar
        class="m-0"
        colorVariant="base-0"
        prohibitedCharacters="*?"
        [placeholder]="searchPlaceholder() | translate"
        [debounceTime]="400"
        [showIcon]="true"
        (searchChange)="searchEvent.emit($event)"
      />
    </div>
  }
  @if (focusable()) {
    <div class="rpanel-content">
      <ng-content />
    </div>
  }
</div>
